In [16]:
from bs4 import BeautifulSoup as bsoup
import urllib.robotparser
import requests
import time
import pandas as pd
import re
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [7]:
# daily revenue for movie industry, contains data for the top grossing movie by day with associated revenue
# test run: goes to url and pulls all data for 1 month

url = "https://www.boxofficemojo.com/daily/2019/?interval=january&sort=date&sortDir=asc&view=month&ref_=bo_di__resort#table"
page = requests.get(url)
soup = bsoup(page.text, 'lxml')

all_divs = soup.main.find_all("div", id="table")
all_tables = all_divs[0].find_all("table")
all_trs = all_tables[0].find_all("tr")

for i in range(1, len(all_trs)):
    print(f"Entry row {i} = ")
    
    all_tds = all_trs[i].find_all("td")
    entry = []
    
    for j in range(0, len(all_tds)):
        entry.append(all_tds[j].text)       
    
    print(entry)

Entry row 1 =
["Jan 1, 2019New Year's Day", 'Tuesday', '1', '$52,588,390', '-0.3%', '+23.3%', '53', 'Aquaman', '$16,377,779']
Entry row 2 =
['Jan 2, 2019', 'Wednesday', '2', '$25,043,176', '-52.4%', '-54.9%', '53', 'Aquaman', '$7,379,476']
Entry row 3 =
['Jan 3, 2019', 'Thursday', '3', '$22,001,708', '-12.1%', '-57.4%', '55', 'Aquaman', '$6,203,801']
Entry row 4 =
['Jan 4, 2019', 'Friday', '4', '$38,870,140', '+76.7%', '-31.4%', '52', 'Aquaman', '$9,388,082']
Entry row 5 =
['Jan 5, 2019', 'Saturday', '5', '$48,843,884', '+25.7%', '-16%', '52', 'Aquaman', '$13,053,690']
Entry row 6 =
['Jan 6, 2019', 'Sunday', '6', '$31,293,715', '-35.9%', '-38.6%', '52', 'Aquaman', '$8,561,508']
Entry row 7 =
['Jan 7, 2019', 'Monday', '7', '$9,979,794', '-68.1%', '-72.5%', '48', 'Aquaman', '$2,583,295']
Entry row 8 =
['Jan 8, 2019', 'Tuesday', '8', '$14,364,595', '+43.9%', '-72.7%', '50', 'Aquaman', '$3,852,619']
Entry row 9 =
['Jan 9, 2019', 'Wednesday', '9', '$9,403,436', '-34.5%', '-62.5%', '50', 'Aquaman', '$2,134,441']
Entry row 10 =
['Jan 10, 2019', 'Thursday', '10', '$8,098,409', '-13.9%', '-63.2%', '48', 'Aquaman', '$2,002,266']
Entry row 11 =
['Jan 11, 2019', 'Friday', '11', '$28,100,212', '+247%', '-27.7%', '51', 'The Upside', '$6,928,354']
Entry row 12 =
['Jan 12, 2019', 'Saturday', '12', '$41,458,012', '+47.5%', '-15.1%', '52', 'The Upside', '$7,864,742']
Entry row 13 =
['Jan 13, 2019', 'Sunday', '13', '$27,281,866', '-34.2%', '-12.8%', '52', 'The Upside', '$5,561,904']
Entry row 14 =
['Jan 14, 2019', 'Monday', '14', '$7,718,033', '-71.7%', '-22.7%', '48', 'The Upside', '$1,752,184']
Entry row 15 =
['Jan 15, 2019', 'Tuesday', '15', '$12,473,769', '+61.6%', '-13.2%', '49', 'The Upside', '$2,834,401']
Entry row 16 =
['Jan 16, 2019', 'Wednesday', '16', '$14,180,577', '+13.7%', '+50.8%', '48', 'Dragon Ball Super: Broly', '$7,043,068']
Entry row 17 =
['Jan 17, 2019', 'Thursday', '17', '$9,956,091', '-29.8%', '+22.9%', '49', 'Dragon Ball Super: Broly', '$3,376,374']
Entry row 18 =
['Jan 18, 2019', 'Friday', '18', '$33,442,056', '+235.9%', '+19%', '50', 'Glass', '$15,886,745']
Entry row 19 =
['Jan 19, 2019', 'Saturday', '19', '$44,908,041', '+34.3%', '+8.3%', '49', 'Glass', '$14,524,105']
Entry row 20 =
['Jan 20, 2019', 'Sunday', '20', '$31,173,062', '-30.6%', '+14.3%', '49', 'Glass', '$9,918,070']
Entry row 21 =
['Jan 21, 2019MLK Day', 'Monday', '21', '$26,640,078', '-10.3%', '+11.6%', '51', 'Glass', '$6,176,030']
Entry row 22 =
['Jan 22, 2019', 'Tuesday', '22', '$11,717,186', '-56%', '-6.1%', '48', 'Glass', '$3,814,910']
Entry row 23 =
['Jan 23, 2019', 'Wednesday', '23', '$7,111,194', '-39.3%', '-49.9%', '49', 'Glass', '$2,144,560']
Entry row 24 =
['Jan 24, 2019', 'Thursday', '24', '$7,135,530', '+0.3%', '-28.3%', '51', 'Glass', '$2,076,715']
Entry row 25 =
['Jan 25, 2019', 'Friday', '25', '$18,913,633', '+165.1%', '-43.4%', '51', 'Glass', '$4,963,595']
Entry row 26 =
['Jan 26, 2019', 'Saturday', '26', '$35,370,112', '+87%', '-21.2%', '53', 'Glass', '$8,652,565']
Entry row 27 =
['Jan 27, 2019', 'Sunday', '27', '$21,167,825', '-40.2%', '-32.1%', '53', 'Glass', '$5,268,280']
Entry row 28 =
['Jan 28, 2019', 'Monday', '28', '$5,011,938', '-76.3%', '-81.2%', '56', 'Glass', '$1,310,025']
Entry row 29 =
['Jan 29, 2019', 'Tuesday', '29', '$7,751,898', '+54.7%', '-33.8%', '55', 'Glass', '$1,941,805']
Entry row 30 =
['Jan 30, 2019', 'Wednesday', '30', '$5,355,391', '-30.9%', '-24.7%', '55', 'Glass', '$1,205,830']
Entry row 31 =
['Jan 31, 2019', 'Thursday', '31', '$5,554,041', '+3.7%', '-22.2%', '56', 'Glass', '$1,236,865']

In [8]:
# daily revenue for movie industry, contains data for the top grossing movie by day with associated revenue
# this will run through all months and the past 4 years worth of data on boxofficemojo.com to gather the revenue data
# the result is a data frame with the top grossing movie by day for the past 4 years


months = ["january","february","march","april","may","june","july","august","september", "october", "november", "december"]
years = ["2017","2018","2019","2020"]

column_names = ["date_full","weekday","day_number","top_10_gross_total","ytd_delta",
                "lw_delta","releases","top_release","top_gross"]

df = pd.DataFrame(columns=column_names)

print("running")

for year in years:
    for month in months:
        url_a = "https://www.boxofficemojo.com/daily/"
        url_b = year
        url_c = "/?interval="
        url_d = month
        url_e = "&sort=date&sortDir=asc&view=month&ref_=bo_di__resort#table"

        url = url_a + url_b + url_c + url_d + url_e
        page = requests.get(url)
        soup = bsoup(page.text, 'lxml')
        current_month = []

        all_divs = soup.main.find_all("div", id="table")
        all_tables = all_divs[0].find_all("table")
        all_trs = all_tables[0].find_all("tr")

        for i in range(1, len(all_trs)):
            all_tds = all_trs[i].find_all("td")
            entry = []
            for j in range(0, len(all_tds)):
                entry.append(all_tds[j].text)
            current_month.append(entry)

        df_month = pd.DataFrame(current_month, columns=column_names)
        frames = [df, df_month]
        df = pd.concat(frames)
        
        time.sleep(0.1)
        
    print(f"{year} processed...")
    
df.reset_index(inplace=True)
df.drop(["index", "ytd_delta", "lw_delta"], axis = 1, inplace = True)
print("complete")

running
2017 processed...
2018 processed...
2019 processed...
2020 processed...
complete

In [9]:
df.head(10)

,date_full,weekday,day_number,top_10_gross_total,releases,top_release,top_gross
0,"Jan 1, 2017New Year's Day",Sunday,1,"$56,752,913",52,Rogue One: A Star Wars Story,"$16,751,857"
1,"Jan 2, 2017",Monday,2,"$54,065,844",54,Rogue One: A Star Wars Story,"$15,913,674"
2,"Jan 3, 2017",Tuesday,3,"$24,799,823",48,Rogue One: A Star Wars Story,"$6,268,921"
3,"Jan 4, 2017",Wednesday,4,"$16,695,754",49,Rogue One: A Star Wars Story,"$4,237,535"
4,"Jan 5, 2017",Thursday,5,"$14,928,109",50,Rogue One: A Star Wars Story,"$3,893,517"
5,"Jan 6, 2017",Friday,6,"$35,952,754",46,Hidden Figures,"$7,621,334"
6,"Jan 7, 2017",Saturday,7,"$50,026,406",44,Rogue One: A Star Wars Story,"$9,558,458"
7,"Jan 8, 2017",Sunday,8,"$34,512,473",45,Rogue One: A Star Wars Story,"$6,420,138"
8,"Jan 9, 2017",Monday,9,"$10,419,513",46,Hidden Figures,"$1,857,416"
9,"Jan 10, 2017",Tuesday,10,"$15,267,153",44,Hidden Figures,"$2,877,410"

In [10]:
# cleaning up the revenue values

df['top_10_gross_total'] = df['top_10_gross_total'].str.replace("$", "")
df['top_10_gross_total'] = df['top_10_gross_total'].str.replace(",", "")
df['top_gross'] = df['top_gross'].str.replace("$", "")
df['top_gross'] = df['top_gross'].str.replace(",", "")

df.head()

,date_full,weekday,day_number,top_10_gross_total,releases,top_release,top_gross
0,"Jan 1, 2017New Year's Day",Sunday,1,56752913,52,Rogue One: A Star Wars Story,16751857
1,"Jan 2, 2017",Monday,2,54065844,54,Rogue One: A Star Wars Story,15913674
2,"Jan 3, 2017",Tuesday,3,24799823,48,Rogue One: A Star Wars Story,6268921
3,"Jan 4, 2017",Wednesday,4,16695754,49,Rogue One: A Star Wars Story,4237535
4,"Jan 5, 2017",Thursday,5,14928109,50,Rogue One: A Star Wars Story,3893517

In [11]:
# cleaning up the date column, adding a new columns for month, day, year, and event (holiday)

dates = df[['date_full']]
holiday = pd.DataFrame(columns = ["date", "year", "event", "month", "day"])
holiday[["date", "year", "event"]] = dates.date_full.str.split('(\d{4})', expand = True)
holiday['date'] = holiday['date'].str.replace(",", "")
holiday[["month", "day"]] = holiday.date.str.split(' ', n= 1, expand = True)
final = holiday[['month', 'day', 'year', 'event']]

final.head()

  month day  year           event
0   Jan  1   2017  New Year's Day
1   Jan  2   2017
2   Jan  3   2017
3   Jan  4   2017
4   Jan  5   2017

In [12]:
# update date columns using new dataframe from above

df[['month', 'day', 'year', 'event']] = final[['month', 'day', 'year', 'event']]
df.drop(["date_full"], axis = 1, inplace = True)

In [13]:
df.to_csv("movie_data_v1.csv")
df.head()

,weekday,day_number,top_10_gross_total,releases,top_release,top_gross,month,day,year,event
0,Sunday,1,56752913,52,Rogue One: A Star Wars Story,16751857,Jan,1,2017,New Year's Day
1,Monday,2,54065844,54,Rogue One: A Star Wars Story,15913674,Jan,2,2017,
2,Tuesday,3,24799823,48,Rogue One: A Star Wars Story,6268921,Jan,3,2017,
3,Wednesday,4,16695754,49,Rogue One: A Star Wars Story,4237535,Jan,4,2017,
4,Thursday,5,14928109,50,Rogue One: A Star Wars Story,3893517,Jan,5,2017,

In [14]:
# Making a list of unique film names (for searching imdb genres) 
# and a dictionary of monthly top films by year for a count

months = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
monthly_top_uniq = []
monthly_top_repeat = {}
for year in years:
    for month in months:
        t = df.loc[(df['month'] == month) & (df['year'] == year)]
        ind = year + month
        monthly_top_uniq.append(t.top_release.unique())
        monthly_top_repeat[ind] = t.top_release
monthly_top_repeat

{'2017Jan': 0     Rogue One: A Star Wars Story
 1     Rogue One: A Star Wars Story
 2     Rogue One: A Star Wars Story
 3     Rogue One: A Star Wars Story
 4     Rogue One: A Star Wars Story
 5                   Hidden Figures
 6     Rogue One: A Star Wars Story
 7     Rogue One: A Star Wars Story
 8                   Hidden Figures
 9                   Hidden Figures
 10                  Hidden Figures
 11                  Hidden Figures
 12                  Hidden Figures
 13                  Hidden Figures
 14                  Hidden Figures
 15                  Hidden Figures
 16                  Hidden Figures
 17                  Hidden Figures
 18                  Hidden Figures
 19                           Split
 20                           Split
 21                           Split
 22                           Split
 23                           Split
 24                           Split
 25                           Split
 26                           Split
 27                           Split
 28                           Split
 29                           Split
 30                           Split
 Name: top_release, dtype: object,
 '2017Feb': 31                    Split
 32                    Split
 33                    Rings
 34                    Split
 35          A Dog's Purpose
 36                    Split
 37                    Split
 38                    Split
 39           Hidden Figures
 40      Fifty Shades Darker
 41    The Lego Batman Movie
 42    The Lego Batman Movie
 43      Fifty Shades Darker
 44      Fifty Shades Darker
 45      Fifty Shades Darker
 46      Fifty Shades Darker
 47    The Lego Batman Movie
 48    The Lego Batman Movie
 49    The Lego Batman Movie
 50    The Lego Batman Movie
 51    The Lego Batman Movie
 52    The Lego Batman Movie
 53      Is Genesis History?
 54                  Get Out
 55                  Get Out
 56                  Get Out
 57                  Get Out
 58                  Get Out
 Name: top_release, dtype: object,
 '2017Mar': 59                 Get Out
 60                 Get Out
 61                   Logan
 62                   Logan
 63                   Logan
 64                   Logan
 65                   Logan
 66                   Logan
 67                   Logan
 68      Kong: Skull Island
 69      Kong: Skull Island
 70      Kong: Skull Island
 71      Kong: Skull Island
 72      Kong: Skull Island
 73      Kong: Skull Island
 74      Kong: Skull Island
 75    Beauty and the Beast
 76    Beauty and the Beast
 77    Beauty and the Beast
 78    Beauty and the Beast
 79    Beauty and the Beast
 80    Beauty and the Beast
 81    Beauty and the Beast
 82    Beauty and the Beast
 83    Beauty and the Beast
 84    Beauty and the Beast
 85    Beauty and the Beast
 86    Beauty and the Beast
 87    Beauty and the Beast
 88    Beauty and the Beast
 89           The Boss Baby
 Name: top_release, dtype: object,
 '2017Apr': 90               The Boss Baby
 91               The Boss Baby
 92        Beauty and the Beast
 93        Beauty and the Beast
 94        Beauty and the Beast
 95        Beauty and the Beast
 96               The Boss Baby
 97               The Boss Baby
 98               The Boss Baby
 99               The Boss Baby
 100              The Boss Baby
 101              The Boss Baby
 102              The Boss Baby
 103    The Fate of the Furious
 104    The Fate of the Furious
 105    The Fate of the Furious
 106    The Fate of the Furious
 107    The Fate of the Furious
 108    The Fate of the Furious
 109    The Fate of the Furious
 110    The Fate of the Furious
 111    The Fate of the Furious
 112    The Fate of the Furious
 113    The Fate of the Furious
 114    The Fate of the Furious
 115    The Fate of the Furious
 116    The Fate of the Furious
 117    The Fate of the Furious
 118    The Fate of the Furious
 119    The Fate of the Furious
 Name: top_release, dtype: object,
 '2017Jun': 151    Pirates of the Caribbean: Dead Men Tell No Tales
 152                                        Wonder Woman
 153                                        Wonder Woman
 154                                        Wonder Woman
 155                                        Wonder Woman
 156                                        Wonder Woman
 157                                        Wonder Woman
 158                                        Wonder Woman
 159                                        Wonder Woman
 160                                        Wonder Woman
 161                                        Wonder Woman
 162                                        Wonder Woman
 163                                        Wonder Woman
 164                                        Wonder Woman
 165                                        Wonder Woman
 166                                              Cars 3
 167                                              Cars 3
 168                                              Cars 3
 169                                              Cars 3
 170                                              Cars 3
 171                       Transformers: The Last Knight
 172                       Transformers: The Last Knight
 173                       Transformers: The Last Knight
 174                       Transformers: The Last Knight
 175                       Transformers: The Last Knight
 176                       Transformers: The Last Knight
 177                       Transformers: The Last Knight
 178                                         Baby Driver
 179                                         Baby Driver
 180                                     Despicable Me 3
 Name: top_release, dtype: object,
 '2017Jul': 181                   Despicable Me 3
 182                   Despicable Me 3
 183                   Despicable Me 3
 184                   Despicable Me 3
 185                   Despicable Me 3
 186                   Despicable Me 3
 187            Spider-Man: Homecoming
 188            Spider-Man: Homecoming
 189            Spider-Man: Homecoming
 190            Spider-Man: Homecoming
 191            Spider-Man: Homecoming
 192            Spider-Man: Homecoming
 193            Spider-Man: Homecoming
 194    War for the Planet of the Apes
 195    War for the Planet of the Apes
 196    War for the Planet of the Apes
 197    War for the Planet of the Apes
 198            Spider-Man: Homecoming
 199            Spider-Man: Homecoming
 200            Spider-Man: Homecoming
 201                           Dunkirk
 202                           Dunkirk
 203                           Dunkirk
 204                           Dunkirk
 205                           Dunkirk
 206                           Dunkirk
 207                           Dunkirk
 208                   The Emoji Movie
 209                           Dunkirk
 210                           Dunkirk
 211                           Dunkirk
 Name: top_release, dtype: object,
 '2017Aug': 212                   Dunkirk
 213                   Dunkirk
 214                   Dunkirk
 215            The Dark Tower
 216                   Dunkirk
 217                   Dunkirk
 218                   Dunkirk
 219                   Dunkirk
 220                   Dunkirk
 221                   Dunkirk
 222       Annabelle: Creation
 223       Annabelle: Creation
 224       Annabelle: Creation
 225       Annabelle: Creation
 226       Annabelle: Creation
 227       Annabelle: Creation
 228       Annabelle: Creation
 229    The Hitman's Bodyguard
 230    The Hitman's Bodyguard
 231    The Hitman's Bodyguard
 232    The Hitman's Bodyguard
 233    The Hitman's Bodyguard
 234    The Hitman's Bodyguard
 235    The Hitman's Bodyguard
 236    The Hitman's Bodyguard
 237    The Hitman's Bodyguard
 238    The Hitman's Bodyguard
 239    The Hitman's Bodyguard
 240    The Hitman's Bodyguard
 241    The Hitman's Bodyguard
 242    The Hitman's Bodyguard
 Name: top_release, dtype: object,
 '2017Sep': 243         The Hitman's Bodyguard
 244         The Hitman's Bodyguard
 245         The Hitman's Bodyguard
 246         The Hitman's Bodyguard
 247         The Hitman's Bodyguard
 248         The Hitman's Bodyguard
 249         The Hitman's Bodyguard
 250                             It
 251                             It
 252                             It
 253                             It
 254                             It
 255                             It
 256                             It
 257                             It
 258                             It
 259                             It
 260                             It
 261                             It
 262                             It
 263                             It
 264    Kingsman: The Golden Circle
 265    Kingsman: The Golden Circle
 266    Kingsman: The Golden Circle
 267    Kingsman: The Golden Circle
 268    Kingsman: The Golden Circle
 269    Kingsman: The Golden Circle
 270    Kingsman: The Golden Circle
 271                  American Made
 272                             It
 Name: top_release, dtype: object,
 '2017Oct': 273    Kingsman: The Golden Circle
 274                  American Made
 275                  American Made
 276                  American Made
 277                  American Made
 278              Blade Runner 2049
 279              Blade Runner 2049
 280              Blade Runner 2049
 281              Blade Runner 2049
 282              Blade Runner 2049
 283              Blade Runner 2049
 284              Blade Runner 2049
 285                Happy Death Day
 286                Happy Death Day
 287                Happy Death Day
 288              Blade Runner 2049
 289              Blade Runner 2049
 290              Blade Runner 2049
 291              Blade Runner 2049
 292       Boo 2! A Madea Halloween
 293       Boo 2! A Madea Halloween
 294       Boo 2! A Madea Halloween
 295       Boo 2! A Madea Halloween
 296       Boo 2! A Madea Halloween
 297       Boo 2! A Madea Halloween
 298       Boo 2! A Madea Halloween
 299                         Jigsaw
 300                         Jigsaw
 301                         Jigsaw
 302                         Jigsaw
 303                         Jigsaw
 Name: top_release, dtype: object,
 '2017Nov': 304    A Bad Moms Christmas
 305    A Bad Moms Christmas
 306          Thor: Ragnarok
 307          Thor: Ragnarok
 308          Thor: Ragnarok
 309          Thor: Ragnarok
 310          Thor: Ragnarok
 311          Thor: Ragnarok
 312          Thor: Ragnarok
 313          Thor: Ragnarok
 314          Thor: Ragnarok
 315          Thor: Ragnarok
 316          Thor: Ragnarok
 317          Thor: Ragnarok
 318          Thor: Ragnarok
 319          Thor: Ragnarok
 320          Justice League
 321          Justice League
 322          Justice League
 323          Justice League
 324          Justice League
 325                    Coco
 326                    Coco
 327                    Coco
 328                    Coco
 329                    Coco
 330                    Coco
 331                    Coco
 332                    Coco
 333                    Coco
 Name: top_release, dtype: object,
 '2017Dec': 334                                       Coco
 335                                       Coco
 336                                       Coco
 337                                       Coco
 338                                       Coco
 339                                       Coco
 340                                       Coco
 341                                       Coco
 342                                       Coco
 343                                       Coco
 344                                       Coco
 345                                       Coco
 346                                       Coco
 347                                       Coco
 348    Star Wars: Episode VIII - The Last Jedi
 349    Star Wars: Episode VIII - The Last Jedi
 350    Star Wars: Episode VIII - The Last Jedi
 351    Star Wars: Episode VIII - The Last Jedi
 352    Star Wars: Episode VIII - The Last Jedi
 353    Star Wars: Episode VIII - The Last Jedi
 354    Star Wars: Episode VIII - The Last Jedi
 355    Star Wars: Episode VIII - The Last Jedi
 356    Star Wars: Episode VIII - The Last Jedi
 357    Star Wars: Episode VIII - The Last Jedi
 358    Star Wars: Episode VIII - The Last Jedi
 359    Star Wars: Episode VIII - The Last Jedi
 360    Star Wars: Episode VIII - The Last Jedi
 361    Star Wars: Episode VIII - The Last Jedi
 362    Star Wars: Episode VIII - The Last Jedi
 363    Star Wars: Episode VIII - The Last Jedi
 364    Star Wars: Episode VIII - The Last Jedi
 Name: top_release, dtype: object,
 '2018Jan': 365    Jumanji: Welcome to the Jungle
 366    Jumanji: Welcome to the Jungle
 367    Jumanji: Welcome to the Jungle
 368    Jumanji: Welcome to the Jungle
 369           Insidious: The Last Key
 370    Jumanji: Welcome to the Jungle
 371    Jumanji: Welcome to the Jungle
 372    Jumanji: Welcome to the Jungle
 373    Jumanji: Welcome to the Jungle
 374    Jumanji: Welcome to the Jungle
 375    Jumanji: Welcome to the Jungle
 376    Jumanji: Welcome to the Jungle
 377    Jumanji: Welcome to the Jungle
 378    Jumanji: Welcome to the Jungle
 379    Jumanji: Welcome to the Jungle
 380    Jumanji: Welcome to the Jungle
 381    Jumanji: Welcome to the Jungle
 382                          The Post
 383                         12 Strong
 384    Jumanji: Welcome to the Jungle
 385    Jumanji: Welcome to the Jungle
 386                    Den of Thieves
 387                         12 Strong
 388                          The Post
 389                          The Post
 390       Maze Runner: The Death Cure
 391       Maze Runner: The Death Cure
 392       Maze Runner: The Death Cure
 393       Maze Runner: The Death Cure
 394       Maze Runner: The Death Cure
 395       Maze Runner: The Death Cure
 Name: top_release, dtype: object,
 '2018Feb': 396       Maze Runner: The Death Cure
 397                        Winchester
 398    Jumanji: Welcome to the Jungle
 399    Jumanji: Welcome to the Jungle
 400    Jumanji: Welcome to the Jungle
 401       Maze Runner: The Death Cure
 402    Jumanji: Welcome to the Jungle
 403    Jumanji: Welcome to the Jungle
 404                Fifty Shades Freed
 405                Fifty Shades Freed
 406                      Peter Rabbit
 407                Fifty Shades Freed
 408                Fifty Shades Freed
 409                Fifty Shades Freed
 410                Fifty Shades Freed
 411                     Black Panther
 412                     Black Panther
 413                     Black Panther
 414                     Black Panther
 415                     Black Panther
 416                     Black Panther
 417                     Black Panther
 418                     Black Panther
 419                     Black Panther
 420                     Black Panther
 421                     Black Panther
 422                     Black Panther
 423                     Black Panther
 Name: top_release, dtype: object,
 '2018Mar': 424            Black Panther
 425            Black Panther
 426            Black Panther
 427            Black Panther
 428            Black Panther
 429            Black Panther
 430            Black Panther
 431            Black Panther
 432        A Wrinkle in Time
 433            Black Panther
 434            Black Panther
 435            Black Panther
 436            Black Panther
 437            Black Panther
 438            Black Panther
 439              Tomb Raider
 440            Black Panther
 441            Black Panther
 442            Black Panther
 443            Black Panther
 444            Black Panther
 445            Black Panther
 446    Pacific Rim: Uprising
 447    Pacific Rim: Uprising
 448    Pacific Rim: Uprising
 449    Pacific Rim: Uprising
 450    Pacific Rim: Uprising
 451            Black Panther
 452         Ready Player One
 453         Ready Player One
 454         Ready Player One
 Name: top_release, dtype: object,
 '2018Apr': 455          Ready Player One
 456          Ready Player One
 457          Ready Player One
 458          Ready Player One
 459          Ready Player One
 460             A Quiet Place
 461             A Quiet Place
 462             A Quiet Place
 463             A Quiet Place
 464             A Quiet Place
 465             A Quiet Place
 466             A Quiet Place
 467                   Rampage
 468                   Rampage
 469                   Rampage
 470             A Quiet Place
 471                   Rampage
 472             A Quiet Place
 473             A Quiet Place
 474          Super Troopers 2
 475             A Quiet Place
 476                   Rampage
 477             A Quiet Place
 478             A Quiet Place
 479             A Quiet Place
 480             A Quiet Place
 481    Avengers: Infinity War
 482    Avengers: Infinity War
 483    Avengers: Infinity War
 484    Avengers: Infinity War
 Name: top_release, dtype: object,
 '2018Jun': 516           Solo: A Star Wars Story
 517           Solo: A Star Wars Story
 518           Solo: A Star Wars Story
 519           Solo: A Star Wars Story
 520           Solo: A Star Wars Story
 521           Solo: A Star Wars Story
 522           Solo: A Star Wars Story
 523                     Ocean's Eight
 524                     Ocean's Eight
 525                     Ocean's Eight
 526                     Ocean's Eight
 527                     Ocean's Eight
 528                     Ocean's Eight
 529                     Ocean's Eight
 530                     Incredibles 2
 531                     Incredibles 2
 532                     Incredibles 2
 533                     Incredibles 2
 534                     Incredibles 2
 535                     Incredibles 2
 536                     Incredibles 2
 537    Jurassic World: Fallen Kingdom
 538    Jurassic World: Fallen Kingdom
 539    Jurassic World: Fallen Kingdom
 540    Jurassic World: Fallen Kingdom
 541    Jurassic World: Fallen Kingdom
 542    Jurassic World: Fallen Kingdom
 543    Jurassic World: Fallen Kingdom
 544    Jurassic World: Fallen Kingdom
 545    Jurassic World: Fallen Kingdom
 Name: top_release, dtype: object,
 '2018Jul': 546           Jurassic World: Fallen Kingdom
 547           Jurassic World: Fallen Kingdom
 548           Jurassic World: Fallen Kingdom
 549           Jurassic World: Fallen Kingdom
 550                            Incredibles 2
 551                     Ant-Man and the Wasp
 552                     Ant-Man and the Wasp
 553                     Ant-Man and the Wasp
 554                     Ant-Man and the Wasp
 555                     Ant-Man and the Wasp
 556                     Ant-Man and the Wasp
 557                     Ant-Man and the Wasp
 558    Hotel Transylvania 3: Summer Vacation
 559    Hotel Transylvania 3: Summer Vacation
 560    Hotel Transylvania 3: Summer Vacation
 561    Hotel Transylvania 3: Summer Vacation
 562    Hotel Transylvania 3: Summer Vacation
 563    Hotel Transylvania 3: Summer Vacation
 564    Hotel Transylvania 3: Summer Vacation
 565              Mamma Mia! Here We Go Again
 566                          The Equalizer 2
 567                          The Equalizer 2
 568              Mamma Mia! Here We Go Again
 569              Mamma Mia! Here We Go Again
 570              Mamma Mia! Here We Go Again
 571              Mamma Mia! Here We Go Again
 572            Mission: Impossible - Fallout
 573            Mission: Impossible - Fallout
 574            Mission: Impossible - Fallout
 575            Mission: Impossible - Fallout
 576            Mission: Impossible - Fallout
 Name: top_release, dtype: object,
 '2018Aug': 577    Mission: Impossible - Fallout
 578    Mission: Impossible - Fallout
 579    Mission: Impossible - Fallout
 580    Mission: Impossible - Fallout
 581    Mission: Impossible - Fallout
 582    Mission: Impossible - Fallout

In [17]:
# parsing out the unique movies into one array
all_movies = []
for month in monthly_top_uniq:
    for movie in month:
        all_movies.append(movie)
all_movies = set(all_movies)
unique_movies = list(all_movies)
pp.pprint(unique_movies)

[   'Resistance',
    'Fifty Shades Darker',
    'Relic',
    'Star Wars: Episode VIII - The Last Jedi',
    'Frozen II',
    'Fast & Furious Presents: Hobbs & Shaw',
    'Aladdin',
    'Incredibles 2',
    'The Tax Collector',
    'Jurassic World: Fallen Kingdom',
    'Ant-Man and the Wasp',
    'The New Mutants',
    'I Still Believe',
    'Men in Black: International',
    'Swallow',
    'Toy Story 4',
    'Ralph Breaks the Internet',
    'Kingsman: The Golden Circle',
    'Fantastic Beasts: The Crimes of Grindelwald',
    'Abominable',
    'Transformers: The Last Knight',
    'A Bad Moms Christmas',
    'Sonic the Hedgehog',
    'Thor: Ragnarok',
    'Insidious: The Last Key',
    'Hotel Transylvania 3: Summer Vacation',
    'Us',
    'Jumanji: The Next Level',
    'The Invisible Man',
    'Blade Runner 2049',
    'The Other Lamb',
    'Venom',
    'Dragon Ball Super: Broly',
    'Pirates of the Caribbean: Dead Men Tell No Tales',
    'It Chapter Two',
    'Split',
    'Maleficent: Mistress of Evil',
    'Spider-Man: Far from Home',
    'The Croods: A New Age',
    'The Call of the Wild',
    'Mission: Impossible - Fallout',
    'Pacific Rim: Uprising',
    "Ocean's Eight",
    'The Secret Life of Pets 2',
    'Beauty and the Beast',
    'Terminator: Dark Fate',
    'A Quiet Place',
    'Get Out',
    'Freaky',
    'Cars 3',
    'Midway',
    'My Hero Academia: Heroes Rising',
    'Justice League',
    'Dumbo',
    'Kong: Skull Island',
    'The Boss Baby',
    'Honest Thief',
    'Despicable Me 3',
    'The Emoji Movie',
    'Rampage',
    'The Upside',
    'Logan',
    'A Madea Family Funeral',
    'The Equalizer 2',
    '1917',
    'Birds of Prey',
    'The Predator',
    'Avengers: Infinity War',
    'The Post',
    'Happy Death Day',
    'Mamma Mia! Here We Go Again',
    'It',
    'The Curse of la Llorona',
    'Unsubscribe',
    'The House with a Clock in Its Walls',
    'Boo 2! A Madea Halloween',
    'The Nun',
    'Spider-Man: Into the Spider-Verse',
    'Scary Stories to Tell in the Dark',
    'Maze Runner: The Death Cure',
    'Spider-Man: Homecoming',
    'Onward',
    'Followed',
    'The SpongeBob Movie: Sponge on the Run',
    'Angel Has Fallen',
    'Joker',
    'The Wretched',
    'Crazy Rich Asians',
    'Avengers: Endgame',
    'Is Genesis History?',
    'Alita: Battle Angel',
    'Black Panther',
    'Let Him Go',
    'Solo: A Star Wars Story',
    '12 Strong',
    'Be Natural: The Untold Story of Alice Guy-Blaché',
    'Super Troopers 2',
    'Ready Player One',
    'Rings',
    'The Grinch',
    'A Wrinkle in Time',
    'A Star Is Born',
    'The Lego Batman Movie',
    'Tomb Raider',
    'Wonder Woman 1984',
    'American Made',
    'Night School',
    'Come Play',
    'The Fate of the Furious',
    'Winchester',
    'The Gentlemen',
    'Mary Poppins Returns',
    'Becky',
    'Monster Hunter',
    'Fifty Shades Freed',
    "Isn't It Romantic",
    'Rogue One: A Star Wars Story',
    'The War with Grandpa',
    'Ford v Ferrari',
    'Good Boys',
    "A Dog's Purpose",
    'Halloween',
    'Hidden Figures',
    'Baby Driver',
    'Bohemian Rhapsody',
    'Bad Boys for Life',
    'Smallfoot',
    'How to Train Your Dragon: The Hidden World',
    'Downton Abbey',
    'Star Wars: Episode IX - The Rise of Skywalker',
    'The Meg',
    'Jumanji: Welcome to the Jungle',
    'Hustlers',
    'Dunkirk',
    'Coco',
    "The Hitman's Bodyguard",
    'Peter Rabbit',
    'Jigsaw',
    'Glass',
    'The Rental',
    'Captain Marvel',
    'Den of Thieves',
    'Annabelle: Creation',
    'The Lego Movie 2: The Second Part',
    'Aquaman',
    'A Simple Favor',
    'The Lion King',
    'Shazam!',
    'The Dark Tower',
    'War for the Planet of the Apes',
    'True History of the Kelly Gang',
    'Wonder Woman',
    'Creed II',
    'Unhinged',
    'Tenet']

In [18]:
# SANITY CHECK - making sure all movies were included in unique array (we can delete this later)
count = 0
for i in monthly_top_uniq:
    for j in i:
        if j not in unique_movies:
            count+=1
print(count)

0

In [20]:
# reading in imdb csv and creating database with all movies made 2016 and up
imdb = pd.read_csv('IMDb movies.csv')
imdb = imdb.astype({'year':'string'})
imdb['year'] = imdb.year.str.replace(r"[a-zA-Z]", '')
imdb = imdb.loc[imdb['year'] >= '2016']
imdb.head()

/Users/shelleysims/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
15675,tt0069049,L'altra faccia del vento,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA","English, German",Orson Welles,...,"John Huston, Oja Kodar, Peter Bogdanovich, Sus...",A Hollywood director emerges from semi-exile w...,6.8,5887,NaN,NaN,NaN,78.0,81.0,98.0
25479,tt0100275,La Telenovela Errante,La Telenovela Errante,2017,2018-09-06,"Comedy, Drama, Fantasy",80,Chile,Spanish,"Raoul Ruiz, Valeria Sarmiento",...,"Luis Alarcón, Patricia Rivadeneira, Francisco ...",The film revolves around the concept of soap o...,6.6,260,NaN,$ 3624,$ 3624,NaN,NaN,27.0
32465,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,2018-03-20,"Animation, Adventure, Comedy",83,Canada,English,Anthony Harrison,...,"Anthony Harrison, C. Ernst Harth, Ellie Harvie...",Simple-minded Joseph Briteman breaks a golden ...,8.8,264,NaN,NaN,NaN,NaN,2.0,NaN
41749,tt0315642,Wazir,Wazir,2016,2016-01-08,"Action, Crime, Drama",103,India,Hindi,Bejoy Nambiar,...,"Amitabh Bachchan, Farhan Akhtar, Aditi Rao Hyd...",A grief-stricken cop and an amputee grandmaste...,7.1,16992,NaN,$ 1124045,$ 5633588,NaN,118.0,30.0
42166,tt0326716,'77,'77,2017,2017-05-25,"Comedy, Drama",113,USA,English,Patrick Read Johnson,...,"John Francis Daley, Austin Pendleton, Colleen ...","Alienated, hopeful-filmmaker Pat Johnson's epi...",6.1,304,NaN,NaN,NaN,NaN,4.0,4.0

In [21]:
imdb['year'].max()

'2020'

In [22]:
# recording genres for each movie in the unique movie list
not_found = []
genres = {}
for mov in unique_movies:
        genres[mov] = imdb.loc[(imdb['original_title'] == mov)].genre.values
pp.pprint(genres)
print(not_found)

{   '12 Strong': array(['Action, Drama, History'], dtype=object),
    '1917': array(['Drama, War'], dtype=object),
    'A Bad Moms Christmas': array(['Comedy'], dtype=object),
    "A Dog's Purpose": array(['Adventure, Comedy, Drama'], dtype=object),
    'A Madea Family Funeral': array(['Comedy'], dtype=object),
    'A Quiet Place': array(['Drama, Horror, Sci-Fi'], dtype=object),
    'A Simple Favor': array(['Comedy, Crime, Drama'], dtype=object),
    'A Star Is Born': array(['Drama, Music, Romance'], dtype=object),
    'A Wrinkle in Time': array(['Adventure, Family, Fantasy'], dtype=object),
    'Abominable': array(['Horror', 'Animation, Adventure, Comedy'], dtype=object),
    'Aladdin': array(['Adventure, Family, Fantasy'], dtype=object),
    'Alita: Battle Angel': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'American Made': array(['Action, Biography, Comedy'], dtype=object),
    'Angel Has Fallen': array(['Action, Thriller'], dtype=object),
    'Annabelle: Creation': array(['Horror, Mystery, Thriller'], dtype=object),
    'Ant-Man and the Wasp': array(['Action, Adventure, Comedy'], dtype=object),
    'Aquaman': array(['Action, Adventure, Fantasy'], dtype=object),
    'Avengers: Endgame': array(['Action, Adventure, Drama'], dtype=object),
    'Avengers: Infinity War': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Baby Driver': array(['Action, Crime, Drama'], dtype=object),
    'Bad Boys for Life': array(['Action, Comedy, Crime'], dtype=object),
    'Be Natural: The Untold Story of Alice Guy-Blaché': array([], dtype=object),
    'Beauty and the Beast': array(['Family, Fantasy, Musical'], dtype=object),
    'Becky': array(['Action, Drama, Horror'], dtype=object),
    'Birds of Prey': array([], dtype=object),
    'Black Panther': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Blade Runner 2049': array(['Action, Drama, Mystery'], dtype=object),
    'Bohemian Rhapsody': array(['Biography, Drama, Music'], dtype=object),
    'Boo 2! A Madea Halloween': array([], dtype=object),
    'Captain Marvel': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Cars 3': array(['Animation, Adventure, Comedy'], dtype=object),
    'Coco': array(['Animation, Adventure, Family'], dtype=object),
    'Come Play': array([], dtype=object),
    'Crazy Rich Asians': array(['Comedy, Drama, Romance'], dtype=object),
    'Creed II': array(['Drama, Sport'], dtype=object),
    'Den of Thieves': array(['Action, Crime, Drama'], dtype=object),
    'Despicable Me 3': array(['Animation, Adventure, Comedy'], dtype=object),
    'Downton Abbey': array(['Drama, Romance'], dtype=object),
    'Dragon Ball Super: Broly': array([], dtype=object),
    'Dumbo': array(['Adventure, Family, Fantasy'], dtype=object),
    'Dunkirk': array(['Action, Drama, History'], dtype=object),
    'Fantastic Beasts: The Crimes of Grindelwald': array(['Adventure, Family, Fantasy'], dtype=object),
    'Fast & Furious Presents: Hobbs & Shaw': array(['Action, Adventure, Thriller'], dtype=object),
    'Fifty Shades Darker': array(['Drama, Romance'], dtype=object),
    'Fifty Shades Freed': array(['Drama, Romance, Thriller'], dtype=object),
    'Followed': array(['Horror, Mystery, Thriller'], dtype=object),
    'Ford v Ferrari': array(['Action, Biography, Drama'], dtype=object),
    'Freaky': array([], dtype=object),
    'Frozen II': array(['Animation, Adventure, Comedy'], dtype=object),
    'Get Out': array(['Horror, Mystery, Thriller'], dtype=object),
    'Glass': array(['Drama, Sci-Fi, Thriller'], dtype=object),
    'Good Boys': array(['Adventure, Comedy'], dtype=object),
    'Halloween': array(['Crime, Horror, Thriller'], dtype=object),
    'Happy Death Day': array(['Horror, Mystery, Thriller'], dtype=object),
    'Hidden Figures': array(['Biography, Drama, History'], dtype=object),
    'Honest Thief': array([], dtype=object),
    'Hotel Transylvania 3: Summer Vacation': array(['Animation, Adventure, Comedy'], dtype=object),
    'How to Train Your Dragon: The Hidden World': array(['Animation, Action, Adventure'], dtype=object),
    'Hustlers': array(['Comedy, Crime, Drama'], dtype=object),
    'I Still Believe': array(['Biography, Drama, Music'], dtype=object),
    'Incredibles 2': array(['Animation, Action, Adventure'], dtype=object),
    'Insidious: The Last Key': array(['Horror, Mystery, Thriller'], dtype=object),
    'Is Genesis History?': array([], dtype=object),
    "Isn't It Romantic": array(['Comedy, Fantasy, Romance'], dtype=object),
    'It': array(['Horror'], dtype=object),
    'It Chapter Two': array(['Drama, Fantasy, Horror'], dtype=object),
    'Jigsaw': array(['Horror, Mystery'], dtype=object),
    'Joker': array(['Comedy, Drama', 'Crime, Drama, Thriller'], dtype=object),
    'Jumanji: The Next Level': array(['Action, Adventure, Comedy'], dtype=object),
    'Jumanji: Welcome to the Jungle': array(['Action, Adventure, Comedy'], dtype=object),
    'Jurassic World: Fallen Kingdom': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Justice League': array(['Action, Adventure, Fantasy'], dtype=object),
    'Kingsman: The Golden Circle': array(['Action, Adventure, Comedy'], dtype=object),
    'Kong: Skull Island': array(['Action, Adventure, Fantasy'], dtype=object),
    'Let Him Go': array([], dtype=object),
    'Logan': array(['Action, Drama, Sci-Fi'], dtype=object),
    'Maleficent: Mistress of Evil': array(['Adventure, Family, Fantasy'], dtype=object),
    'Mamma Mia! Here We Go Again': array(['Comedy, Musical, Romance'], dtype=object),
    'Mary Poppins Returns': array(['Comedy, Family, Fantasy'], dtype=object),
    'Maze Runner: The Death Cure': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Men in Black: International': array(['Action, Adventure, Comedy'], dtype=object),
    'Midway': array(['Action, Adventure, Drama'], dtype=object),
    'Mission: Impossible - Fallout': array(['Action, Adventure, Thriller'], dtype=object),
    'Monster Hunter': array([], dtype=object),
    'My Hero Academia: Heroes Rising': array([], dtype=object),
    'Night School': array(['Comedy'], dtype=object),
    "Ocean's Eight": array(['Action, Comedy, Crime'], dtype=object),
    'Onward': array(['Animation, Adventure, Comedy'], dtype=object),
    'Pacific Rim: Uprising': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Peter Rabbit': array(['Adventure, Comedy, Family'], dtype=object),
    'Pirates of the Caribbean: Dead Men Tell No Tales': array(['Action, Adventure, Fantasy'], dtype=object),
    'Ralph Breaks the Internet': array(['Animation, Adventure, Comedy'], dtype=object),
    'Rampage': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Ready Player One': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Relic': array(['Drama, Horror'], dtype=object),
    'Resistance': array(['Biography, Drama, History'], dtype=object),
    'Rings': array(['Drama, Horror, Mystery'], dtype=object),
    'Rogue One: A Star Wars Story': array([], dtype=object),
    'Scary Stories to Tell in the Dark': array(['Adventure, Horror, Mystery'], dtype=object),
    'Shazam!': array(['Action, Adventure, Comedy'], dtype=object),
    'Smallfoot': array(['Animation, Adventure, Comedy'], dtype=object),
    'Solo: A Star Wars Story': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Sonic the Hedgehog': array(['Action, Adventure, Comedy'], dtype=object),
    'Spider-Man: Far from Home': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Spider-Man: Homecoming': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'Spider-Man: Into the Spider-Verse': array(['Animation, Action, Adventure'], dtype=object),
    'Split': array(['Comedy, Romance, Sport', 'Drama, Fantasy', 'Horror, Thriller'],
      dtype=object),
    'Star Wars: Episode IX - The Rise of Skywalker': array(['Action, Adventure, Fantasy'], dtype=object),
    'Star Wars: Episode VIII - The Last Jedi': array(['Action, Adventure, Fantasy'], dtype=object),
    'Super Troopers 2': array(['Comedy, Crime, Mystery'], dtype=object),
    'Swallow': array(['Drama, Thriller'], dtype=object),
    'Tenet': array(['Action, Sci-Fi'], dtype=object),
    'Terminator: Dark Fate': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'The Boss Baby': array(['Animation, Adventure, Comedy'], dtype=object),
    'The Call of the Wild': array(['Adventure, Drama, Family'], dtype=object),
    'The Croods: A New Age': array([], dtype=object),
    'The Curse of la Llorona': array(['Horror, Mystery, Thriller'], dtype=object),
    'The Dark Tower': array(['Action, Adventure, Fantasy'], dtype=object),
    'The Emoji Movie': array(['Animation, Adventure, Comedy'], dtype=object),
    'The Equalizer 2': array(['Action, Crime, Thriller'], dtype=object),
    'The Fate of the Furious': array(['Action, Adventure, Crime'], dtype=object),
    'The Gentlemen': array(['Action, Comedy, Crime'], dtype=object),
    'The Grinch': array(['Animation, Comedy, Family'], dtype=object),
    "The Hitman's Bodyguard": array(['Action, Comedy, Crime'], dtype=object),
    'The House with a Clock in Its Walls': array(['Comedy, Family, Fantasy'], dtype=object),
    'The Invisible Man': array(['Horror, Mystery, Sci-Fi', 'Sci-Fi'], dtype=object),
    'The Lego Batman Movie': array(['Animation, Action, Comedy'], dtype=object),
    'The Lego Movie 2: The Second Part': array(['Animation, Action, Adventure'], dtype=object),
    'The Lion King': array(['Animation, Adventure, Drama'], dtype=object),
    'The Meg': array(['Action, Horror, Sci-Fi'], dtype=object),
    'The New Mutants': array(['Action, Horror, Sci-Fi'], dtype=object),
    'The Nun': array(['Horror, Mystery, Thriller'], dtype=object),
    'The Other Lamb': array(['Drama, Horror'], dtype=object),
    'The Post': array(['Drama, Thriller'], dtype=object),
    'The Predator': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'The Rental': array(['Horror, Thriller'], dtype=object),
    'The Secret Life of Pets 2': array(['Animation, Adventure, Comedy'], dtype=object),
    'The SpongeBob Movie: Sponge on the Run': array(['Animation, Adventure, Comedy'], dtype=object),
    'The Tax Collector': array(['Action, Crime, Drama'], dtype=object),
    'The Upside': array(['Comedy, Drama'], dtype=object),
    'The War with Grandpa': array(['Comedy, Drama, Family'], dtype=object),
    'The Wretched': array(['Horror'], dtype=object),
    'Thor: Ragnarok': array(['Action, Adventure, Comedy'], dtype=object),
    'Tomb Raider': array(['Action, Adventure, Fantasy'], dtype=object),
    'Toy Story 4': array(['Animation, Adventure, Comedy'], dtype=object),
    'Transformers: The Last Knight': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'True History of the Kelly Gang': array(['Biography, Crime, Drama'], dtype=object),
    'Unhinged': array(['Action, Thriller', 'Thriller', 'Horror'], dtype=object),
    'Unsubscribe': array([], dtype=object),
    'Us': array(['Horror, Mystery, Thriller'], dtype=object),
    'Venom': array(['Action, Adventure, Sci-Fi'], dtype=object),
    'War for the Planet of the Apes': array(['Action, Adventure, Drama'], dtype=object),
    'Winchester': array(['Biography, Drama, Fantasy'], dtype=object),
    'Wonder Woman': array(['Action, Adventure, Fantasy'], dtype=object),
    'Wonder Woman 1984': array([], dtype=object)}
[]

In [23]:
# example of missing data
imdb.loc[(imdb['original_title']=='Birds of Prey')]

Empty DataFrame
Columns: [imdb_title_id, title, original_title, year, date_published, genre, duration, country, language, director, writer, production_company, actors, description, avg_vote, votes, budget, usa_gross_income, worlwide_gross_income, metascore, reviews_from_users, reviews_from_critics]
Index: []

[0 rows x 22 columns]

In [24]:
# What to do about missing values??
print(genres['The Other Lamb'])
print(genres['Birds of Prey'])

['Drama, Horror']
[]