In [1]:
# we stopped here, trying to filter down to USA entries and income >0 to mitigate duplicated genre issue
# we need to add in this info for Is Genesis History
# you are very close, just need to lose the duplicated genres

In [2]:
from bs4 import BeautifulSoup as bsoup
import urllib.robotparser
import requests
import time
import pandas as pd
import re
import pprint
import pickle
import numpy as np
pp = pprint.PrettyPrinter(indent=4)

In [3]:
df = pd.read_csv('raw-IMDb.csv', encoding='unicode_escape')
df

/mnt/c/Users/Austin/Documents/DU/COMP 4447/toolsenv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,12/26/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drÃ¸m,Den sorte drÃ¸m,1911,8/19/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,3/6/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2/13/2020,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,"$7,299,062",NaN,6.0,4.0
85851,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,3/8/2019,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85852,tt9914286,Sokagin Ãocuklari,Sokagin Ãocuklari,2019,3/15/2019,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin KeÃ§eci...",NaN,6.4,194,NaN,NaN,"$2,833",NaN,NaN,NaN
85853,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2/5/2020,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,"$59,794",NaN,NaN,2.0
85854,tt9914942,Is Genesis History?,Is Genesis History?,2019,4/18/2019,Documentary,108,USA,English,English,...,English,English,5.7,442,"$1,294,596","$1,294,596","$3,173,282",$5,28.0,3.0

In [4]:
df = df[['imdb_title_id', 'title', 'original_title', 'genre', 'country', 'year', 'usa_gross_income', 'budget', 'metascore']]
df

,imdb_title_id,title,original_title,genre,country,year,usa_gross_income,budget,metascore
0,tt0000009,Miss Jerry,Miss Jerry,Romance,USA,1894,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,"Biography, Crime, Drama",Australia,1906,NaN,"$2,250",NaN
2,tt0001892,Den sorte drÃ¸m,Den sorte drÃ¸m,Drama,"Germany, Denmark",1911,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,"Drama, History",USA,1912,NaN,"$45,000",NaN
4,tt0002130,L'Inferno,L'Inferno,"Adventure, Drama, Fantasy",Italy,1911,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
85850,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,"Comedy, Drama",Netherlands,2020,NaN,NaN,NaN
85851,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,Drama,India,2019,NaN,NaN,NaN
85852,tt9914286,Sokagin Ãocuklari,Sokagin Ãocuklari,"Drama, Family",Turkey,2019,NaN,NaN,NaN
85853,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,Drama,Spain,2019,NaN,NaN,NaN
85854,tt9914942,Is Genesis History?,Is Genesis History?,Documentary,USA,2019,"$1,294,596","$1,294,596",$5

In [5]:
df = df.dropna()
# df = df[df.country.str.contains('USA')]
df['year'] = pd.to_numeric(df['year'])
# df['usa_gross_income'] = pd.to_numeric(df['usa_gross_income'])
# df['budget'] = pd.to_numeric(df['budget'])

df = df[df['year'] > 2010]
df = df[df['usa_gross_income'] != None]
df = df[df['budget'] != None]
df = df[df['metascore'] != None]
df = df.dropna()


imdb1 = list(df.original_title)
imdb2 = list(df.title)
imdb = imdb1 + imdb2
len(imdb)
df

/mnt/c/Users/Austin/Documents/DU/COMP 4447/toolsenv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,imdb_title_id,title,original_title,genre,country,year,usa_gross_income,budget,metascore
42535,tt0337692,On the Road,On the Road,"Adventure, Drama, Romance","France, USA, UK, Mexico, Canada, Brazil, Germa...",2012,"$744,296","$25,000,000",56
43351,tt0359950,I sogni segreti di Walter Mitty,The Secret Life of Walter Mitty,"Comedy, Drama, Fantasy","USA, UK",2013,"$58,236,838","$90,000,000",54
43614,tt0365907,La preda perfetta,A Walk Among the Tombstones,"Action, Crime, Drama",USA,2014,"$26,307,600","$28,000,000",57
43822,tt0369610,Jurassic World,Jurassic World,"Action, Adventure, Sci-Fi",USA,2015,"$652,270,625","$150,000,000",59
44111,tt0376136,The Rum Diary - Cronache di una passione,The Rum Diary,"Comedy, Drama","USA, UK",2011,"$13,109,815","$45,000,000",56
...,...,...,...,...,...,...,...,...,...
85273,tt9214832,Emma.,Emma.,"Comedy, Drama",UK,2020,"$10,055,355","$10,000,000",71
85396,tt9354944,Jexi,Jexi,"Comedy, Romance","USA, Canada",2019,"$6,546,159","$5,000,000",39
85459,tt9426210,Weathering with You,Tenki no ko,"Animation, Drama, Family","Japan, China",2019,"$7,798,743","$11,100,000",72
85739,tt9779516,Cosa mi lasci di te,I Still Believe,"Biography, Drama, Music",USA,2020,"$9,868,521","$12,000,000",41
85854,tt9914942,Is Genesis History?,Is Genesis History?,Documentary,USA,2019,"$1,294,596","$1,294,596",$5

In [6]:
ag = pd.read_pickle('final-clean-box_office_mojo.pkl')
ag

                                                top_gross  top_10_gross_total  \
year month top_release
2014 Apr   Captain America: The Winter Soldier  169455209           391303381
           Heaven Is for Real                    14406229            61947948
           Noah                                   8515307            26109474
           Rio 2                                 26533097            89796834
           The Other Woman                       31278335           119587235
...                                                   ...                 ...
2019 Sep   Abominable                            20612100            83845476
           Angel Has Fallen                      11106530            60017867
           Downton Abbey                         45677945           162092638
           Hustlers                              25463545            65114404
           It Chapter Two                       139817778           222939124

                                                 releases  total_top_days
year month top_release
2014 Apr   Captain America: The Winter Soldier  46.642857              14
           Heaven Is for Real                   48.250000               4
           Noah                                 43.000000               3
           Rio 2                                47.666667               3
           The Other Woman                      48.833333               6
...                                                   ...             ...
2019 Sep   Abominable                           56.333333               3
           Angel Has Fallen                     56.000000               5
           Downton Abbey                        61.875000               8
           Hustlers                             59.600000               5
           It Chapter Two                       56.333333               9

[344 rows x 4 columns]

In [7]:
movies = set(ag.index.get_level_values(2))
movies

{'12 Strong',
 '22 Jump Street',
 '300: Rise of an Empire',
 'A Bad Moms Christmas',
 "A Dog's Purpose",
 'A Madea Family Funeral',
 'A Quiet Place',
 'A Simple Favor',
 'A Star Is Born',
 'A Walk in the Woods',
 'A Wrinkle in Time',
 'Abominable',
 'About Last Night',
 'Aladdin',
 'Alien: Covenant',
 'Alita: Battle Angel',
 'Allegiant',
 'American Made',
 'American Sniper',
 'Angel Has Fallen',
 'Annabelle',
 'Annabelle: Creation',
 'Ant-Man',
 'Ant-Man and the Wasp',
 'Aquaman',
 'Avengers: Age of Ultron',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Baby Driver',
 'Back To The Future DayTriple Bill',
 'Batman v Superman: Dawn of Justice',
 'Baywatch',
 'Beauty and the Beast',
 'Big Hero 6',
 'Black Mass',
 'Black Panther',
 'Blade Runner 2049',
 'Bohemian Rhapsody',
 'Boo 2! A Madea Halloween',
 'Boo! A Madea Halloween',
 'Captain America: Civil War',
 'Captain America: The Winter Soldier',
 'Captain Marvel',
 'Cars 3',
 'Chappie',
 'Cinderella',
 'Coco',
 'Crazy Rich Asians',
 'Creed II',
 'Dawn of the Planet of the Apes',
 'Deadpool',
 'Deadpool 2',
 'Deepwater Horizon',
 'Den of Thieves',
 'Despicable Me 3',
 'Divergent',
 'Doctor Strange',
 "Don't Breathe",
 'Downton Abbey',
 'Dracula Untold',
 'Dragon Ball Super: Broly',
 'Dumb and Dumber to',
 'Dumbo',
 'Dunkirk',
 'Entourage',
 'Exodus: Gods and Kings',
 'Fantastic Beasts and Where to Find Them',
 'Fantastic Beasts: The Crimes of Grindelwald',
 'Fantastic Four',
 'Fast & Furious Presents: Hobbs & Shaw',
 'Fifty Shades Darker',
 'Fifty Shades Freed',
 'Fifty Shades of Grey',
 'Finding Dory',
 'Focus',
 'Ford v Ferrari',
 'Frozen',
 'Frozen II',
 'Furious 7',
 'Fury',
 'Get Out',
 'Ghostbusters',
 'Glass',
 'Godzilla',
 'Godzilla: King of the Monsters',
 'Gone Girl',
 'Good Boys',
 'Goosebumps',
 'Guardians of the Galaxy',
 'Guardians of the Galaxy Vol. 2',
 'Halloween',
 'Happy Death Day',
 'Heaven Is for Real',
 'Hidden Figures',
 'Home',
 'Hotel Transylvania 2',
 'Hotel Transylvania 3: Summer Vacation',
 'How to Train Your Dragon 2',
 'How to Train Your Dragon: The Hidden World',
 'Hustlers',
 'If I Stay',
 'In the Heart of the Sea',
 'Incredibles 2',
 'Inferno',
 'Inside Out',
 'Insidious: Chapter 3',
 'Insidious: The Last Key',
 'Interstellar',
 'Is Genesis History?',
 "Isn't It Romantic",
 'It',
 'It Chapter Two',
 'Jack Reacher: Never Go Back',
 'Jason Bourne',
 'Jigsaw',
 'John Wick',
 'John Wick: Chapter 3 - Parabellum',
 'Joker',
 'Jumanji: The Next Level',
 'Jumanji: Welcome to the Jungle',
 'Jurassic World',
 'Jurassic World: Fallen Kingdom',
 'Justice League',
 'Kingsman: The Golden Circle',
 'Kong: Skull Island',
 'Krampus',
 'Kung Fu Panda 3',
 "Let's Be Cops",
 'Logan',
 'Lone Survivor',
 'Lucy',
 'Mad Max: Fury Road',
 'Magic Mike XXL',
 'Maleficent',
 'Maleficent: Mistress of Evil',
 'Mamma Mia! Here We Go Again',
 'Mary Poppins Returns',
 'Maze Runner: The Death Cure',
 'Maze Runner: The Scorch Trials',
 'Men in Black: International',
 'Midway',
 'Minions',
 "Miss Peregrine's Home for Peculiar Children",
 'Mission: Impossible - Fallout',
 'Mission: Impossible - Rogue Nation',
 'Moana',
 'Mr. Peabody & Sherman',
 'Need for Speed',
 'Neighbors',
 'Night School',
 'Nightcrawler',
 'No Good Deed',
 'Noah',
 'Non-Stop',
 "Ocean's Eight",
 'Office Christmas Party',
 'Ouija',
 'Pacific Rim: Uprising',
 'Paranormal Activity: The Marked Ones',
 'Peter Rabbit',
 'Pirates of the Caribbean: Dead Men Tell No Tales',
 'Pitch Perfect 2',
 'Pixels',
 'Pokémon Detective Pikachu',
 'Ralph Breaks the Internet',
 'Rampage',
 'Ready Player One',
 'Ride Along',
 'Ride Along 2',
 'Rings',
 'Rio 2',
 'RoboCop',
 'Rogue One: A Star Wars Story',
 'San Andreas',
 'Sausage Party',
 'Scary Stories to Tell in the Dark',
 'Shazam!',
 'Smallfoot',
 'Solo: A Star Wars Story',
 'Son of God',
 'Spectre',
 'Spider-Man: Far from Home',
 'Spider-Man: Homecoming',
 'Spider-Man: Into the Spider-Verse',
 'Split',
 'Spy',
 'Star Trek Beyond',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'Star Wars: Episode VII - The Force Awakens',
 'Star Wars: Episode VIII - The Last Jedi',
 'Straight Outta Compton',
 'Suicide Squad',
 'Sully',
 'Super Troopers 2',
 'Taken 3',
 'Teenage Mutant Ninja Turtles',
 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 'Terminator: Dark Fate',
 'The Accountant',
 'The Age of Adaline',
 'The Amazing Spider-Man 2',
 'The Angry Birds Movie',
 'The Book of Life',
 'The Boss',
 'The Boss Baby',
 'The Conjuring 2',
 'The Curse of la Llorona',
 'The Dark Tower',
 'The Divergent Series: Insurgent',
 'The Emoji Movie',
 'The Equalizer',
 'The Equalizer 2',
 'The Fate of the Furious',
 'The Fault in Our Stars',
 'The Girl on the Train',
 'The Good Dinosaur',
 'The Grinch',
 "The Hitman's Bodyguard",
 'The Hobbit: The Battle of the Five Armies',
 'The House with a Clock in Its Walls',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 'The Jungle Book',
 'The Lego Batman Movie',
 'The Lego Movie',
 'The Lego Movie 2: The Second Part',
 'The Lion King',
 'The Magnificent Seven',
 'The Martian',
 'The Maze Runner',
 'The Meg',
 'The Nun',
 'The Other Woman',
 'The Perfect Guy',
 'The Post',
 'The Predator',
 'The Purge: Anarchy',
 'The Purge: Election Year',
 'The Revenant',
 'The Second Best Exotic Marigold Hotel',
 'The Secret Life of Pets',
 'The Secret Life of Pets 2',
 'The SpongeBob Movie: Sponge Out of Water',
 'The Transporter Refueled',
 'The Upside',
 'The Visit',
 'The Wolf of Wall Street',
 'Think Like a Man Too',
 'Thor: Ragnarok',
 'Tomb Raider',
 'Tomorrowland',
 'Toy Story 4',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Unbroken',
 'Us',
 'Vacation',
 'Venom',
 'War Room',
 'War for the Planet of the Apes',
 'Winchester',
 'Wonder Woman',
 'X-Men: Apocalypse',
 'X-Men: Days of Future Past',
 'Zootopia'}

In [8]:
c = 0
for mov in movies:
    if mov not in imdb:
        print(mov)
        c += 1
        
print(c)

The Angry Birds Movie
Dumb and Dumber to
Furious 7
Back To The Future DayTriple Bill
Boo! A Madea Halloween
5

In [9]:
df.sample(20)

,imdb_title_id,title,original_title,genre,country,year,usa_gross_income,budget,metascore
56772,tt1308729,Jimmy Bobo - Bullet to the Head,Bullet to the Head,"Action, Crime, Thriller","USA, India, Switzerland",2012,"$9,489,829","$45,000,000",48
74972,tt4532826,Robin Hood - L'origine della leggenda,Robin Hood,"Action, Adventure, Drama","USA, Hong Kong, Croatia, France, Hungary",2018,"$30,824,628","$100,000,000",32
54914,tt1172049,Demolition: Amare e vivere,Demolition,"Action, Comedy, Drama",USA,2015,"$1,978,592","$10,000,000",49
75303,tt4649466,Kingsman: Il cerchio d'oro,Kingsman: The Golden Circle,"Action, Adventure, Comedy","UK, USA",2017,"$100,234,838","$104,000,000",44
68649,tt2784678,Top Five,Top Five,"Comedy, Romance",USA,2014,"$25,317,471","$12,000,000",81
53332,tt1065073,Boyhood,Boyhood,Drama,USA,2014,"$25,352,281","$4,000,000",100
60065,tt1617661,Jupiter - Il destino dell'universo,Jupiter Ascending,"Action, Adventure, Sci-Fi","USA, Australia",2015,"$47,387,723","$176,000,000",40
61112,tt1710396,Joyful Noise - Armonie del cuore,Joyful Noise,"Comedy, Drama, Music",USA,2012,"$30,932,113","$25,000,000",44
62517,tt1840417,The Words,The Words,"Drama, Mystery, Romance",USA,2012,"$11,494,838","$6,000,000",37
66504,tt2345112,Parkland,Parkland,"Drama, History, Mystery",USA,2013,"$653,651","$10,000,000",51
63048,tt1904996,Parker,Parker,"Action, Crime, Thriller",USA,2013,"$17,616,641","$35,000,000",42
68382,tt2704998,Game Night - Indovina chi muore stasera?,Game Night,"Action, Comedy, Crime",USA,2018,"$69,179,066","$37,000,000",66
49360,tt0498381,The Ring 3,Rings,"Drama, Horror, Mystery",USA,2017,"$27,793,018","$25,000,000",25
63897,tt2018086,Camille Claudel 1915,Camille Claudel 1915,"Biography, Drama",France,2013,"$35,296",EUR 3200000,65
53124,tt1051906,L'uomo invisibile,The Invisible Man,"Horror, Mystery, Sci-Fi","Canada, Australia, USA",2020,"$64,914,050","$7,000,000",72
72362,tt3716530,Elle,Elle,"Crime, Drama, Thriller","France, Germany, Belgium",2016,"$2,341,534",EUR 9000000,89
62005,tt1790886,Candidato a sorpresa,The Campaign,Comedy,USA,2012,"$86,907,746","$95,000,000",50
59242,tt1541160,Le regole della truffa,Flypaper,"Comedy, Crime, Mystery","Germany, USA",2011,"$5,043","$5,000,000",37
69088,tt2918436,The Lazarus Effect,The Lazarus Effect,"Horror, Mystery, Sci-Fi",USA,2015,"$25,801,570","$3,300,000",31
49827,tt0790736,R.I.P.D. - Poliziotti dall'aldilÃ,R.I.P.D.,"Action, Adventure, Comedy",USA,2013,"$33,618,855","$130,000,000",25

In [10]:
df1 = df[['title', 'genre']]
df2 = df[['original_title', 'genre']]
df2 = df2.rename(columns={"original_title": "title"})

df3 = pd.concat([df1,df2])
df3 = df3.drop_duplicates()
df3.to_csv("final-clean-imdb-titles_and_genres.csv")
df3

                                          title                      genre
42535                               On the Road  Adventure, Drama, Romance
43351           I sogni segreti di Walter Mitty     Comedy, Drama, Fantasy
43614                         La preda perfetta       Action, Crime, Drama
43822                            Jurassic World  Action, Adventure, Sci-Fi
44111  The Rum Diary - Cronache di una passione              Comedy, Drama
...                                         ...                        ...
85117                           Gretel & Hansel   Fantasy, Horror, Mystery
85175                         Playing with Fire             Comedy, Family
85220                        Brahms: The Boy II     Drama, Horror, Mystery
85459                               Tenki no ko   Animation, Drama, Family
85739                           I Still Believe    Biography, Drama, Music

[3085 rows x 2 columns]

In [11]:
ag = ag.reset_index()
merged = pd.merge(ag, df3, how='left', left_on="top_release", right_on="title")
merged

,year,month,top_release,top_gross,top_10_gross_total,releases,total_top_days,title,genre
0,2014,Apr,Captain America: The Winter Soldier,169455209,391303381,46.642857,14,Captain America: The Winter Soldier,"Action, Adventure, Sci-Fi"
1,2014,Apr,Heaven Is for Real,14406229,61947948,48.250000,4,Heaven Is for Real,"Biography, Drama, Family"
2,2014,Apr,Noah,8515307,26109474,43.000000,3,Noah,"Action, Adventure, Drama"
3,2014,Apr,Rio 2,26533097,89796834,47.666667,3,Rio 2,"Animation, Adventure, Comedy"
4,2014,Apr,The Other Woman,31278335,119587235,48.833333,6,The Other Woman,"Comedy, Romance"
...,...,...,...,...,...,...,...,...,...
341,2019,Sep,Abominable,20612100,83845476,56.333333,3,Abominable,"Animation, Adventure, Comedy"
342,2019,Sep,Angel Has Fallen,11106530,60017867,56.000000,5,Angel Has Fallen,"Action, Thriller"
343,2019,Sep,Downton Abbey,45677945,162092638,61.875000,8,Downton Abbey,"Drama, Romance"
344,2019,Sep,Hustlers,25463545,65114404,59.600000,5,Hustlers,"Comedy, Crime, Drama"
345,2019,Sep,It Chapter Two,139817778,222939124,56.333333,9,It Chapter Two,"Drama, Fantasy, Horror"

In [12]:
ag = merged.groupby(['year', 'month', 'top_release','genre']).agg({'top_gross':'sum', 'top_10_gross_total':'sum', 'releases':'mean', 'total_top_days':'mean'}).copy()
ag.to_csv("final-clean-movies_and_genres.csv")
ag.to_pickle("final-clean-movies_and_genres.pkl")

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)


qa = merged.groupby(['top_release', 'genre']).agg({'genre':'count'})
# qa[qa['genre'] > 1]
qa

                                                                               genre
top_release                                      genre
12 Strong                                        Action, Drama, History            1
22 Jump Street                                   Action, Comedy, Crime             1
300: Rise of an Empire                           Action, Drama                     1
A Bad Moms Christmas                             Comedy                            1
A Dog's Purpose                                  Adventure, Comedy, Drama          1
A Madea Family Funeral                           Comedy                            1
A Quiet Place                                    Drama, Horror, Sci-Fi             1
A Simple Favor                                   Comedy, Crime, Drama              1
A Star Is Born                                   Drama, Music, Romance             1
A Walk in the Woods                              Adventure, Biography, Comedy      1
A Wrinkle in Time                                Adventure, Family, Fantasy        1
Abominable                                       Animation, Adventure, Comedy      1
About Last Night                                 Comedy, Romance                   1
Aladdin                                          Adventure, Family, Fantasy        2
Alien: Covenant                                  Horror, Sci-Fi, Thriller          1
Alita: Battle Angel                              Action, Adventure, Sci-Fi         1
Allegiant                                        Action, Adventure, Mystery        1
American Made                                    Action, Biography, Comedy         2
American Sniper                                  Action, Biography, Drama          2
Angel Has Fallen                                 Action, Thriller                  2
Annabelle                                        Horror, Mystery, Thriller         1
Annabelle: Creation                              Horror, Mystery, Thriller         1
Ant-Man                                          Action, Adventure, Comedy         1
Ant-Man and the Wasp                             Action, Adventure, Comedy         1
Aquaman                                          Action, Adventure, Fantasy        2
Avengers: Age of Ultron                          Action, Adventure, Sci-Fi         1
Avengers: Endgame                                Action, Adventure, Drama          2
Avengers: Infinity War                           Action, Adventure, Sci-Fi         2
Baby Driver                                      Action, Crime, Drama              1
Batman v Superman: Dawn of Justice               Action, Adventure, Sci-Fi         2
Baywatch                                         Action, Comedy, Crime             1
Beauty and the Beast                             Family, Fantasy, Musical          2
Big Hero 6                                       Animation, Action, Adventure      1
Black Mass                                       Biography, Crime, Drama           1
Black Panther                                    Action, Adventure, Sci-Fi         2
Blade Runner 2049                                Action, Drama, Mystery            1
Bohemian Rhapsody                                Biography, Drama, Music           1
Boo 2! A Madea Halloween                         Comedy, Drama, Horror             1
Captain America: Civil War                       Action, Adventure, Sci-Fi         1
Captain America: The Winter Soldier              Action, Adventure, Sci-Fi         1
Captain Marvel                                   Action, Adventure, Sci-Fi         2
Cars 3                                           Animation, Adventure, Comedy      1
Chappie                                          Action, Crime, Drama              1
Cinderella                                       Drama, Family, Fantasy            1
Coco                                             Animation, Adventure, Family      2
Crazy Rich Asians                                Comedy, Drama, Romance            2
Creed II                                         Drama, Sport                      2
Dawn of the Planet of the Apes                   Action, Adventure, Drama          1
Deadpool                                         Action, Adventure, Comedy         2
Deadpool 2                                       Action, Adventure, Comedy         1
Deepwater Horizon                                Action, Drama, History            1
Den of Thieves                                   Action, Crime, Drama              1
Despicable Me 3                                  Animation, Adventure, Comedy      2
Divergent                                        Action, Adventure, Mystery        1
Doctor Strange                                   Action, Adventure, Fantasy        1
Don't Breathe                                    Crime, Horror, Thriller           2
Downton Abbey                                    Drama, Romance                    2
Dracula Untold                                   Action, Drama, Fantasy            1
Dragon Ball Super: Broly                         Animation, Action, Adventure      1
Dumbo                                            Adventure, Family, Fantasy        2
Dunkirk                                          Action, Drama, History            2
Entourage                                        Comedy                            1
Exodus: Gods and Kings                           Action, Drama, Fantasy            1
Fantastic Beasts and Where to Find Them          Adventure, Family, Fantasy        1
Fantastic Beasts: The Crimes of Grindelwald      Adventure, Family, Fantasy        1
Fantastic Four                                   Action, Adventure, Sci-Fi         1
Fast & Furious Presents: Hobbs & Shaw            Action, Adventure, Thriller       1
Fifty Shades Darker                              Drama, Romance                    1
Fifty Shades Freed                               Drama, Romance, Thriller          1
Fifty Shades of Grey                             Drama, Romance, Thriller          1
Finding Dory                                     Animation, Adventure, Comedy      2
Focus                                            Comedy, Crime, Drama              2
Ford v Ferrari                                   Action, Biography, Drama          1
Frozen                                           Animation, Adventure, Comedy      2
Frozen II                                        Animation, Adventure, Comedy      2
Fury                                             Action, Crime, Drama              2
                                                 Action, Drama, War                2
Get Out                                          Horror, Mystery, Thriller         2
Ghostbusters                                     Action, Comedy, Fantasy           1
Glass                                            Drama, Sci-Fi, Thriller           2
Godzilla                                         Action, Adventure, Sci-Fi         1
Godzilla: King of the Monsters                   Action, Adventure, Fantasy        1
Gone Girl                                        Drama, Mystery, Thriller          1
Good Boys                                        Adventure, Comedy                 1
Goosebumps                                       Adventure, Comedy, Family         1
Guardians of the Galaxy                          Action, Adventure, Comedy         2
Guardians of the Galaxy Vol. 2                   Action, Adventure, Comedy         1
Halloween                                        Crime, Horror, Thriller           2
Happy Death Day                                  Horror, Mystery, Thriller         1
Heaven Is for Real                               Biography, Drama, Family          1
Hidden Figures                                   Biography, Drama, History         2
Home                                             Animation, Adventure, Comedy      2
Hotel Transylvania 2                             Animation, Comedy, Family         2
Hotel Transylvania 3: Summer Vacation            Animation, Adventure, Comedy      1
How to Train Your Dragon 2                       Animation, Action, Adventure      1
How to Train Your Dragon: The Hidden World       Animation, Action, Adventure      2
Hustlers                                         Comedy, Crime, Drama              1
If I Stay                                        Drama, Fantasy, Music             1
In the Heart of the Sea                          Action, Adventure, Biography      1
Incredibles 2                                    Animation, Action, Adventure      2
Inferno                                          Action, Adventure, Crime          2
Inside Out                                       Animation, Adventure, Comedy      2
Insidious: Chapter 3                             Horror, Mystery, Thriller         1
Insidious: The Last Key                          Horror, Mystery, Thriller         1
Interstellar                                     Adventure, Drama, Sci-Fi          1
Is Genesis History?                              Documentary                       1
Isn't It Romantic                                Comedy, Fantasy, Romance          1
It                                               Horror                            1
It Chapter Two                                   Drama, Fantasy, Horror            1
Jack Reacher: Never Go Back                      Action, Thriller                  1
Jason Bourne                                     Action, Thriller                  2
Jigsaw                                           Horror, Mystery                   1
John Wick                                        Action, Crime, Thriller           1
John Wick: Chapter 3 - Parabellum                Action, Crime, Thriller           1
Joker                                            Crime, Drama, Thriller            1
Jumanji: The Next Level                          Action, Adventure, Comedy         1
Jumanji: Welcome to the Jungle                   Action, Adventure, Comedy         2
Jurassic World                                   Action, Adventure, Sci-Fi         2
Jurassic World: Fallen Kingdom                   Action, Adventure, Sci-Fi         2
Justice League                                   Action, Adventure, Fantasy        1
Kingsman: The Golden Circle                      Action, Adventure, Comedy         2
Kong: Skull Island                               Action, Adventure, Fantasy        1
Krampus                                          Comedy, Drama, Fantasy            1
Kung Fu Panda 3                                  Animation, Action, Adventure      2
Let's Be Cops                                    Action, Comedy, Crime             1
Logan                                            Action, Drama, Sci-Fi             1
Lone Survivor                                    Action, Biography, Drama          1
Lucy                                             Action, Sci-Fi, Thriller          1
Mad Max: Fury Road                               Action, Adventure, Sci-Fi         1
Magic Mike XXL                                   Comedy, Drama, Music              1
Maleficent                                       Action, Adventure, Family         2
Maleficent: Mistress of Evil                     Adventure, Family, Fantasy        1
Mamma Mia! Here We Go Again                      Comedy, Musical, Romance          1
Mary Poppins Returns                             Comedy, Family, Fantasy           1
Maze Runner: The Death Cure                      Action, Adventure, Sci-Fi         2
Maze Runner: The Scorch Trials                   Action, Adventure, Sci-Fi         1
Men in Black: International                      Action, Adventure, Comedy         1
Midway                                           Action, Adventure, Drama          1
Minions                                          Animation, Adventure, Comedy      1
Miss Peregrine's Home for Peculiar Children      Adventure, Drama, Family          2
Mission: Impossible - Fallout                    Action, Adventure, Thriller       2
Mission: Impossible - Rogue Nation               Action, Adventure, Thriller       2
Moana                                            Animation, Adventure, Comedy      2
Mr. Peabody & Sherman                            Animation, Adventure, Comedy      1
Need for Speed                                   Action, Crime, Thriller           1
Neighbors                                        Comedy                            1
Night School                                     Comedy                            2
Nightcrawler                                     Crime, Drama, Thriller            1
No Good Deed                                     Action, Crime, Drama              1
Noah                                             Action, Adventure, Drama          2
Non-Stop                                         Action, Mystery, Thriller         2
Ocean's Eight                                    Action, Comedy, Crime             1
Office Christmas Party                           Comedy                            1
Ouija                                            Horror, Mystery, Thriller         2
Pacific Rim: Uprising                            Action, Adventure, Sci-Fi         1
Paranormal Activity: The Marked Ones             Horror, Mystery, Thriller         1
Peter Rabbit                                     Adventure, Comedy, Family         1
Pirates of the Caribbean: Dead Men Tell No Tales Action, Adventure, Fantasy        2
Pitch Perfect 2                                  Comedy, Music                     1
Pixels                                           Action, Comedy, Fantasy           1
Pokémon Detective Pikachu                        Action, Adventure, Comedy         1
Ralph Breaks the Internet                        Animation, Adventure, Comedy      2
Rampage                                          Action, Adventure, Sci-Fi         1
Ready Player One                                 Action, Adventure, Sci-Fi         2
Ride Along                                       Action, Comedy, Crime             2
Ride Along 2                                     Action, Comedy, Crime             1
Rings                                            Drama, Horror, Mystery            1
Rio 2                                            Animation, Adventure, Comedy      1
RoboCop                                          Action, Crime, Sci-Fi             1
Rogue One: A Star Wars Story                     Action, Adventure, Sci-Fi         2
San Andreas                                      Action, Adventure, Drama          2
Sausage Party                                    Animation, Adventure, Comedy      1
Scary Stories to Tell in the Dark                Adventure, Horror, Mystery        1
Shazam!                                          Action, Adventure, Comedy         1
Smallfoot                                        Animation, Adventure, Comedy      1
Solo: A Star Wars Story                          Action, Adventure, Sci-Fi         2
Son of God                                       Biography, Drama, History         1
Spectre                                          Action, Adventure, Thriller       1
Spider-Man: Far from Home                        Action, Adventure, Sci-Fi         1
Spider-Man: Homecoming                           Action, Adventure, Sci-Fi         1
Spider-Man: Into the Spider-Verse                Animation, Action, Adventure      1
Split                                            Horror, Thriller                  2
Spy                                              Action, Comedy, Crime             1
Star Trek Beyond                                 Action, Adventure, Sci-Fi         1
Star Wars: Episode IX - The Rise of Skywalker    Action, Adventure, Fantasy        1
Star Wars: Episode VII - The Force Awakens       Action, Adventure, Sci-Fi         2
Star Wars: Episode VIII - The Last Jedi          Action, Adventure, Fantasy        1
Straight Outta Compton                           Biography, Drama, History         2
Suicide Squad                                    Action, Adventure, Fantasy        1
Sully                                            Biography, Drama                  1
Super Troopers 2                                 Comedy, Crime, Mystery            1
Taken 3                                          Action, Thriller                  1
Teenage Mutant Ninja Turtles                     Action, Adventure, Comedy         1
Teenage Mutant Ninja Turtles: Out of the Shadows Action, Adventure, Comedy         1
Terminator: Dark Fate                            Action, Adventure, Sci-Fi         1
The Accountant                                   Action, Crime, Drama              1
The Age of Adaline                               Drama, Fantasy, Romance           1
The Amazing Spider-Man 2                         Action, Adventure, Sci-Fi         1
The Book of Life                                 Animation, Adventure, Comedy      1
The Boss                                         Comedy                            1
The Boss Baby                                    Animation, Adventure, Comedy      2
The Conjuring 2                                  Horror, Mystery, Thriller         1
The Curse of la Llorona                          Horror, Mystery, Thriller         1
The Dark Tower                                   Action, Adventure, Fantasy        1
The Divergent Series: Insurgent                  Action, Adventure, Sci-Fi         1
The Emoji Movie                                  Animation, Adventure, Comedy      1
The Equalizer                                    Action, Crime, Thriller           2
The Equalizer 2                                  Action, Crime, Thriller           1
The Fate of the Furious                          Action, Adventure, Crime          2
The Fault in Our Stars                           Drama, Romance                    1
The Girl on the Train                            Crime, Drama, Mystery             1
The Good Dinosaur                                Animation, Adventure, Comedy      1
The Grinch                                       Animation, Comedy, Family         2
The Hitman's Bodyguard                           Action, Comedy, Crime             2
The Hobbit: The Battle of the Five Armies        Adventure, Fantasy                2
The House with a Clock in Its Walls              Comedy, Family, Fantasy           1
The Hunger Games: Mockingjay - Part 1            Action, Adventure, Sci-Fi         2
The Hunger Games: Mockingjay - Part 2            Action, Adventure, Sci-Fi         2
The Jungle Book                                  Adventure, Drama, Family          2
The Lego Batman Movie                            Animation, Action, Comedy         1
The Lego Movie                                   Animation, Action, Adventure      1
The Lego Movie 2: The Second Part                Animation, Action, Adventure      1
The Lion King                                    Animation, Adventure, Drama       2
The Magnificent Seven                            Action, Adventure, Western        1
The Martian                                      Adventure, Drama, Sci-Fi          2
The Maze Runner                                  Action, Mystery, Sci-Fi           1
The Meg                                          Action, Horror, Sci-Fi            1
The Nun                                          Horror, Mystery, Thriller         1
The Other Woman                                  Comedy, Romance                   2
The Perfect Guy                                  Crime, Drama, Horror              1
The Post                                         Drama, Thriller                   1
The Predator                                     Action, Adventure, Sci-Fi         1
The Purge: Anarchy                               Action, Adventure, Horror         1

In [13]:
ag.sample(20)
ag = ag.reset_index()
x = ag['genre'].str.split(",").to_list()
flat_list = [item.replace(' ','') for sublist in x for item in sublist]
unique_genre = list(set(flat_list))

for i in range(len(unique_genre)):
    ag[unique_genre[i]] = ag.genre.str.contains(unique_genre[i], regex=False)*ag['total_top_days']

ag.head()

,year,month,top_release,genre,top_gross,top_10_gross_total,releases,total_top_days,Fantasy,Thriller,Crime,Sport,Comedy,Adventure,Musical,Drama,Romance,History,Sci-Fi,Biography,Documentary,Horror,War,Animation,Action,Mystery,Western,Music,Family
0,2014,Apr,Captain America: The Winter Soldier,"Action, Adventure, Sci-Fi",169455209,391303381,46.642857,14,0,0,0,0,0,14,0,0,0,0,14,0,0,0,0,0,14,0,0,0,0
1,2014,Apr,Heaven Is for Real,"Biography, Drama, Family",14406229,61947948,48.250000,4,0,0,0,0,0,0,0,4,0,0,0,4,0,0,0,0,0,0,0,0,4
2,2014,Apr,Noah,"Action, Adventure, Drama",8515307,26109474,43.000000,3,0,0,0,0,0,3,0,3,0,0,0,0,0,0,0,0,3,0,0,0,0
3,2014,Apr,Rio 2,"Animation, Adventure, Comedy",26533097,89796834,47.666667,3,0,0,0,0,3,3,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
4,2014,Apr,The Other Woman,"Comedy, Romance",31278335,119587235,48.833333,6,0,0,0,0,6,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
sorted(unique_genre)

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [15]:
ag = ag.groupby(['year', 
            'month']).agg({'Action':'sum',
                             'Adventure':'sum',
                             'Animation':'sum',
                             'Biography':'sum',
                             'Comedy':'sum',
                             'Crime':'sum',
                             'Documentary':'sum',
                             'Drama':'sum',
                             'Family':'sum',
                             'Fantasy':'sum',
                             'History':'sum',
                             'Horror':'sum',
                             'Music':'sum',
                             'Musical':'sum',
                             'Mystery':'sum',
                             'Romance':'sum',
                             'Sci-Fi':'sum',
                             'Sport':'sum',
                             'Thriller':'sum',
                             'War':'sum',
                             'Western':'sum'})


ag = ag.reset_index()
ag['year'] = ag['month'] + ' ' + ag['year']
ag = ag.drop(columns=['month'])
ag = ag.rename(columns={'year':'date'})
ag['date'] = pd.to_datetime(ag['date'])
ag = ag.sort_values(['date']).reset_index()
ag = ag.drop(columns=['index'])

ag.to_csv("final-clean-genre_totals_by_month.csv")
ag.to_pickle("final-clean-genre_totals_by_month.pkl")

In [16]:
ag

,date,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,2014-01-01,22,5,5,10,20,18,0,10,0,0,0,1,0,0,1,0,0,0,1,0,0
1,2014-02-01,26,20,20,0,7,6,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0
2,2014-03-01,28,13,2,1,2,1,0,16,0,0,1,0,0,0,12,0,0,0,6,0,0
3,2014-04-01,17,20,3,4,9,0,0,7,4,0,0,0,0,0,0,6,14,0,0,0,0
4,2014-05-01,23,23,0,0,8,0,0,0,2,0,0,0,0,0,0,1,21,0,0,0,0
5,2014-06-01,24,14,3,0,11,10,0,5,7,0,0,0,0,0,0,6,4,0,0,0,0
6,2014-07-01,31,24,0,0,0,0,0,13,0,0,0,1,0,0,0,0,17,0,7,0,0
7,2014-08-01,30,29,0,0,30,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0
8,2014-09-01,30,11,0,0,11,12,0,7,0,0,0,0,0,0,7,0,7,0,5,0,0
9,2014-10-01,22,0,0,0,0,13,0,29,0,1,0,5,0,0,17,0,0,0,22,8,0
10,2014-11-01,17,25,6,0,1,3,0,13,0,0,0,1,0,0,1,0,19,0,3,1,0
11,2014-12-01,16,25,0,1,0,0,0,6,0,19,0,0,0,0,0,0,11,1,0,0,0
12,2015-01-01,23,8,0,16,0,0,0,16,0,8,0,0,0,0,0,0,0,0,7,0,0
13,2015-02-01,14,8,8,6,2,2,0,20,0,0,0,0,0,0,0,12,0,0,12,0,0
14,2015-03-01,13,12,5,0,11,11,0,19,7,7,0,0,0,0,0,0,7,0,0,0,0
15,2015-04-01,0,2,2,0,2,0,0,2,0,2,0,0,0,0,0,2,0,0,0,0,0
16,2015-05-01,26,26,0,0,5,0,0,3,4,0,0,0,5,0,0,0,19,0,0,0,0
17,2015-06-01,23,22,5,0,12,6,0,3,0,0,0,1,0,0,1,0,14,0,1,0,0
18,2015-07-01,10,29,19,0,29,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0
19,2015-08-01,13,13,0,17,0,0,0,18,0,0,17,0,0,0,0,0,1,0,12,0,0
20,2015-09-01,4,5,6,7,7,9,0,17,6,0,2,7,0,0,2,0,3,0,3,0,0
21,2015-10-01,0,29,1,0,5,0,0,25,5,0,0,0,0,0,0,0,25,0,0,0,0
22,2015-11-01,25,30,0,0,0,0,0,5,0,0,0,0,0,0,0,0,16,0,14,0,0
23,2015-12-01,29,30,1,3,2,0,0,1,0,1,0,0,0,0,0,0,26,0,0,0,0
24,2016-01-01,31,28,3,0,3,3,0,14,0,0,0,0,0,0,0,0,11,0,0,0,0
25,2016-02-01,29,29,11,0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,2016-03-01,11,31,20,0,23,0,0,0,0,0,0,0,0,0,1,0,7,0,0,0,0
27,2016-04-01,9,25,0,0,5,0,0,16,16,0,0,0,0,0,0,0,9,0,0,0,0
28,2016-05-01,23,28,0,0,0,0,0,5,5,0,0,0,0,0,0,0,23,0,0,0,0
29,2016-06-01,9,23,14,0,21,0,0,0,0,0,0,7,0,0,7,0,2,0,7,0,0
30,2016-07-01,12,26,19,0,20,0,0,0,0,1,0,1,0,0,0,0,8,0,3,0,0
31,2016-08-01,24,21,1,0,1,6,0,0,0,20,0,6,0,0,0,0,0,0,10,0,0
32,2016-09-01,7,8,0,14,0,8,0,15,1,0,0,8,0,0,0,0,0,0,8,0,7
33,2016-10-01,14,5,0,0,0,15,0,20,4,0,2,0,0,0,7,0,0,0,4,0,0
34,2016-11-01,17,30,8,0,8,3,0,0,5,19,0,0,0,0,0,0,0,0,0,0,0
35,2016-12-01,16,27,11,0,15,0,0,0,0,0,0,0,0,0,0,0,16,0,0,0,0
36,2017-01-01,7,7,0,12,0,0,0,12,0,0,12,12,0,0,0,0,7,0,12,0,0
37,2017-02-01,8,1,8,1,9,0,1,8,0,0,1,12,0,0,6,5,0,0,11,0,0
38,2017-03-01,14,8,1,0,1,0,0,7,14,21,0,2,14,14,2,0,7,0,2,0,0
39,2017-04-01,17,26,9,0,9,17,0,0,4,4,0,0,4,4,0,0,0,0,0,0,0
40,2017-05-01,30,29,0,0,20,5,0,0,0,6,0,1,0,0,0,0,1,0,1,0,0
41,2017-06-01,24,28,6,0,6,2,0,2,0,15,0,0,0,0,0,0,7,0,0,0,0
42,2017-07-01,24,21,7,0,7,0,0,14,0,0,10,0,0,0,0,0,10,0,0,0,0
43,2017-08-01,24,1,0,0,14,14,0,9,0,1,9,7,0,0,7,0,0,0,7,0,0
44,2017-09-01,15,7,0,1,15,7,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0
45,2017-10-01,16,1,0,4,12,0,0,18,0,0,0,15,0,0,19,0,0,0,3,0,0
46,2017-11-01,19,28,9,0,16,0,0,0,9,5,0,0,0,0,0,0,0,0,0,0,0
47,2017-12-01,17,31,14,0,0,0,0,0,14,17,0,0,0,0,0,0,0,0,0,0,0
48,2018-01-01,27,24,0,0,18,1,0,6,0,0,2,1,0,0,1,0,6,0,4,0,0
49,2018-02-01,20,21,0,1,6,0,0,7,1,1,0,0,0,0,0,6,15,0,6,0,0
50,2018-03-01,30,31,0,0,0,0,0,0,1,2,0,0,0,0,0,0,29,0,0,0,0
51,2018-04-01,14,14,0,0,1,1,0,15,0,0,0,15,0,0,1,0,29,0,0,0,0
52,2018-05-01,31,31,0,0,7,0,0,0,0,0,0,0,0,0,0,0,24,0,0,0,0
53,2018-06-01,30,23,7,0,7,7,0,0,0,0,0,0,0,0,0,0,16,0,0,0,0
54,2018-07-01,19,24,8,0,19,2,0,0,0,0,0,0,5,5,0,5,4,0,7,0,0
55,2018-08-01,14,9,0,0,17,0,0,17,0,0,0,5,0,0,0,17,5,0,9,0,0
56,2018-09-01,6,7,1,0,17,1,0,7,7,7,0,7,0,0,7,6,6,0,7,0,0
57,2018-10-01,9,9,0,0,4,13,0,5,0,0,0,13,5,0,0,5,9,0,13,0,0
58,2018-11-01,0,14,16,7,16,1,0,8,12,5,0,1,7,0,0,0,0,1,1,0,0
59,2018-12-01,16,24,17,0,14,0,0,1,6,13,0,0,0,0,0,0,0,1,0,0,0
60,2019-01-01,12,12,2,0,5,0,0,19,0,10,0,0,0,0,0,0,14,0,14,0,0
61,2019-02-01,20,20,13,0,2,0,0,7,0,1,0,0,0,0,0,1,13,0,6,0,0
62,2019-03-01,20,23,6,0,1,0,0,0,3,3,0,7,0,0,7,0,14,0,7,0,0
63,2019-04-01,20,24,0,0,14,0,0,5,4,4,0,6,0,0,6,0,1,0,6,0,0
64,2019-05-01,24,24,0,0,1,7,0,15,7,8,0,0,0,0,0,0,0,0,7,0,0
65,2019-06-01,3,30,21,0,24,0,0,0,6,6,0,0,0,0,0,0,0,0,0,0,0
66,2019-07-01,17,31,14,0,1,0,0,13,0,0,0,0,0,0,0,0,17,0,0,0,0
67,2019-08-01,20,22,3,0,7,0,0,3,0,0,0,1,0,0,1,0,0,0,20,0,0
68,2019-09-01,5,3,3,0,8,5,0,22,0,9,0,9,0,0,0,8,0,0,5,0,0
69,2019-10-01,0,6,0,0,0,22,0,25,6,6,0,0,0,0,0,3,0,0,22,0,0
70,2019-11-01,21,23,9,7,9,0,0,14,0,0,0,0,0,0,0,0,7,0,0,0,0
71,2019-12-01,19,31,12,0,19,0,0,0,0,12,0,0,0,0,0,0,0,0,0,0,0