In [1]:
from bs4 import BeautifulSoup as bsoup
import urllib.robotparser
import requests
import time
import pandas as pd
import numpy as np
import re
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [5]:
url = 'https://www.boxofficemojo.com/date/2021-08-08/'
page = requests.get(url)
soup = bsoup(page.text, 'lxml')

all_divs = soup.main.find_all("div", id="table")
all_tables = all_divs[0].find_all("table")
all_trs = all_tables[0].find_all("tr")

for i in range(1, len(all_trs)):
    print(f"Entry row {i} = ")
    
    all_tds = all_trs[i].find_all("td")
    entry = []
    
    for j in range(0, len(all_tds)):
        entry.append(all_tds[j].text)       
    
    print(entry)

Entry row 1 =
['1', '1', 'The Suicide Squad', '$5,940,000', '-27.6%', '-', '4,002', '$1,484', '$26,250,000', '3', 'Warner Bros.\n\n', 'false', 'false']
Entry row 2 =
['2', '2', 'Jungle Cruise', '$4,616,034', '-30.8%', '-50%', '4,310', '$1,071', '$65,443,044', '10', 'Walt Disney Studios Motion Pictures\n\n', 'false', 'false']
Entry row 3 =
['3', '3', 'Old', '$1,213,725', '-28.3%', '-41.4%', '3,138', '$386', '$38,498,750', '17', 'Universal Pictures\n\n', 'false', 'false']
Entry row 4 =
['4', '4', 'Black Widow', '$1,082,915', '-35.1%', '-42.3%', '3,100', '$349', '$174,280,036', '31', 'Walt Disney Studios Motion Pictures\n\n', 'false', 'false']
Entry row 5 =
['5', '5', 'Stillwater', '$823,955', '-32.9%', '-41.1%', '2,611', '$315', '$9,968,760', '10', 'Focus Features\n\n', 'false', 'false']
Entry row 6 =
['6', '6', 'The Green Knight', '$770,000', '-23.4%', '-55.7%', '735', '$1,047', '$12,081,727', '10', 'A24\n\n', 'false', 'false']
Entry row 7 =
['7', '7', 'Snake Eyes', '$522,121', '-25.3%', '-58%', '2,080', '$251', '$26,059,435', '17', 'Paramount Pictures\n\n', 'false', 'false']
Entry row 8 =
['8', '9', 'F9: The Fast Saga', '$352,890', '-32.4%', '-57.4%', '1,715', '$205', '$171,004,765', '45', 'Universal Pictures\n\n', 'false', 'false']
Entry row 9 =
['9', '8', 'Escape Room: Tournament of Champions', '$340,784', '-37.1%', '-44.8%', '1,303', '$261', '$23,093,690', '24', 'Sony Pictures Entertainment (SPE)\n\n', 'false', 'false']
Entry row 10 =
['10', '10', 'The Boss Baby: Family Business', '$228,060', '-28.2%', '-48.7%', '1,405', '$162', '$55,170,805', '38', 'Universal Pictures\n\n', 'false', 'false']
Entry row 11 =
['11', '11', 'The Forever Purge', '$159,325', '-25%', '-52%', '779', '$204', '$43,765,600', '38', 'Universal Pictures\n\n', 'false', 'false']
Entry row 12 =
['12', '12', 'A Quiet Place Part II', '$86,861', '-37.6%', '-51.5%', '520', '$167', '$159,430,308', '73', 'Paramount Pictures\n\n', 'false', 'false']
Entry row 13 =
['13', '13', 'Roadrunner: A Film About Anthony Bourdain', '$60,185', '-16.1%', '-51.2%', '268', '$224', '$4,977,305', '24', 'Focus Features\n\n', 'false', 'false']
Entry row 14 =
['14', '14', 'Cruella', '$35,759', '-36.1%', '-60.8%', '148', '$241', '$85,709,499', '73', 'Walt Disney Studios Motion Pictures\n\n', 'false', 'false']
Entry row 15 =
['15', '15', 'Pig', '$31,836', '-24.6%', '-59.4%', '170', '$187', '$2,907,230', '24', 'Neon\n\n', 'false', 'false']
Entry row 16 =
['16', '16', "Hitman's Wife's Bodyguard", '$22,098', '-38.2%', '-54.3%', '179', '$123', '$37,916,803', '54', 'Lionsgate\n\n', 'false', 'false']
Entry row 17 =
['17', '17', 'Peter Rabbit 2: The Runaway', '$16,265', '-37.1%', '-33.9%', '119', '$136', '$40,391,464', '59', 'Sony Pictures Entertainment (SPE)\n\n', 'false', 'false']
Entry row 18 =
['18', '18', 'Ailey', '$15,076', '-16.7%', '+814.3%', '88', '$171', '$78,802', '17', 'Neon\n\n', 'false', 'false']
Entry row 19 =
['19', '20', 'Summer of Soul (...Or, When the Revolution Could Not Be Televised)', '$9,220', '+6.5%', '-47%', '42', '$219', '$2,260,483', '45', 'Searchlight Pictures\n\n', 'false', 'false']
Entry row 20 =
['20', '21', 'Joe Bell', '$6,959', '-11.8%', '-88.2%', '113', '$61', '$1,389,107', '17', 'Roadside Attractions\n\n', 'false', 'false']
Entry row 21 =
['21', '24', 'Queen Bees', '$4,342', '+1.4%', '-24.4%', '47', '$92', '$1,907,128', '59', 'Gravitas Ventures\n\n', 'false', 'true']
Entry row 22 =
['22', '23', 'John and the Hole', '$4,164', '-32.5%', '-', '-', '-', '$16,658', '3', 'IFC Films\n\n', 'false', 'false']
Entry row 23 =
['23', '25', 'Bring Your Own Brigade', '$4,067', '+54.8%', '-', '27', '$150', '$8,334', '3', 'Paramount Pictures\n\n', 'false', 'false']
Entry row 24 =
['24', '22', 'Raya and the Last Dragon', '$1,656', '-75.6%', '-73.3%', '24', '$69', '$54,717,045', '157', 'Walt Disney Studios Motion Pictures\n\n', 'false', 'false']
Entry row 25 =
['25', '19', 'Once I Was Engaged', '$1,162', '-92.4%', '+282.2%', '30', '$38', '$193,050', '19', 'Excel Entertainment\n\n', 'false', 'false']
Entry row 26 =
['26', '27', 'Even in Dreams', '$264', '-78.8%', '-', '5', '$52', '$6,368', '3', 'Purdie Distribution\n\n', 'false', 'false']
Entry row 27 =
['27', '28', 'Enemies of the State', '$136', '-24.4%', '-82.6%', '5', '$27', '$7,690', '10', 'IFC Films\n\n', 'false', 'false']
Entry row 28 =
['28', '26', 'Witnesses', '$86', '-96.3%', '-64%', '8', '$10', '$829,549', '66', 'Purdie Distribution\n\n', 'false', 'false']

In [14]:
# Build date for URL and make requests for each day

month_and_days = {'01': [x for x in range(1,32)], '02': [x for x in range(1,29)], '03':[x for x in range(1,32)],
                  '04':[x for x in range(1,31)],'05':[x for x in range(1,32)], '06':[x for x in range(1,31)], 
                 '07':[x for x in range(1,32)], '08':[x for x in range(1,32)], '09':[x for x in range(1,31)],
                 '10': [x for x in range(1,32)], '11':[x for x in range(1,31)], '12':[x for x in range(1,32)]}

leap_years = [2008, 2016, 2020]
leap_year_month_days = {'01': [x for x in range(1,32)], '02': [x for x in range(1,30)], '03':[x for x in range(1,32)],
                  '04':[x for x in range(1,31)],'05':[x for x in range(1,32)], '06':[x for x in range(1,31)], 
                 '07':[x for x in range(1,32)], '08':[x for x in range(1,32)], '09':[x for x in range(1,31)],
                 '10': [x for x in range(1,32)], '11':[x for x in range(1,31)], '12':[x for x in range(1,32)]}

all_data = []

for year in range(2015, 2021):
    # build url for each year/month/day
    url = 'https://www.boxofficemojo.com/date/'
    
    if year in leap_years:
        m_d = leap_year_month_days
    else:
        m_d = month_and_days
        
    y = str(year)
    
    for month in m_d:
        m = '-' + month
        for day in m_d[month]:
            if len(str(day)) == 1:
                d = '-' + '0' + str(day)
            else:
                d = '-' + str(day)
            
            date = y + m + d
            url_curr = url + date
            
            #get data
            page = requests.get(url_curr)
            soup = bsoup(page.text, 'lxml')
            
            all_divs = soup.main.find_all("div", id="table")
            try:
                all_tables = all_divs[0].find_all("table")
            except:
                print(date)
            
            try:
                all_trs = all_tables[0].find_all("tr")
            except:
                print(date)
            
            for i in range(1, len(all_trs)):

                all_tds = all_trs[i].find_all("td")
                entry = []

                for j in range(0, len(all_tds)):
                    entry.append(all_tds[j].text)       
                
                entry = entry[0:11]
                entry.append(date)

                all_data.append(entry)
    print(f'{year} processed...')

2015 processed...
2016 processed...
2017 processed...
2018 processed...
2019 processed...
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020 processed...

In [13]:
all_data[0]

['1',
 '1',
 'The Hobbit: The Battle of the Five Armies',
 '$9,320,601',
 '+55.3%',
 '-29%',
 '3,875',
 '$2,405',
 '$198,869,927',
 '16',
 'Warner Bros.\n\n',
 'false',
 '2015-01-01']

In [30]:
column_names = ['TD', 'YD', 'Movie', 'Daily', '%YD', '%LW', 'Theaters', 'Avg', 'To_Date', 'Days', 'Distributor', 'Date']
df = pd.DataFrame(all_data, columns=column_names)
df

,TD,YD,Movie,Daily,%YD,%LW,Theaters,Avg,To_Date,Days,Distributor,Date
0,1,1,The Hobbit: The Battle of the Five Armies,"$9,320,601",+55.3%,-29%,"3,875","$2,405","$198,869,927",16,Warner Bros.\n\n,2015-01-01
1,2,3,Into the Woods,"$8,081,110",+52.7%,-46.4%,"2,507","$3,223","$72,143,214",8,Walt Disney Studios Motion Pictures\n\n,2015-01-01
2,3,2,Unbroken,"$6,953,045",+17.4%,-55%,"3,167","$2,195","$69,481,655",8,Universal Pictures\n\n,2015-01-01
3,4,4,Night at the Museum: Secret of the Tomb,"$5,974,323",+22.5%,-16.4%,"3,914","$1,526","$75,328,905",14,Twentieth Century Fox\n\n,2015-01-01
4,5,5,Annie,"$4,257,057",+42%,-6.8%,"3,197","$1,331","$61,208,977",14,Sony Pictures Entertainment (SPE)\n\n,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
103750,13,13,All My Life,"$2,715",-22.9%,-61.6%,133,$20,"$899,585",28,Universal Pictures\n\n,2020-12-31
103751,14,14,Let Him Go,"$1,950",+66%,-80.5%,54,$36,"$9,347,940",56,Focus Features\n\n,2020-12-31
103752,15,15,The Forgotten Carols,"$1,002",+18.6%,-92.4%,48,$20,"$500,692",42,Purdie Distribution\n\n,2020-12-31
103753,16,16,The Rescue,$318,+31.4%,-81.6%,7,$45,"$18,490",14,CMC Pictures\n\n,2020-12-31
103754,17,-,The New Mutants,$10,-,-96.5%,10,$1,"$23,852,659",126,20th Century Studios\n\n,2020-12-31

In [31]:
# Replace non-numeric values for numeric data columns
df['Daily'] = df['Daily'].str.replace('[^0-9]', '')
df['To_Date'] = df['To_Date'].str.replace('[^0-9]', '')
df['%YD'] = df['%YD'].str.replace('+', '')
df['%YD'] = df['%YD'].str.replace('-', '')
df['%YD'] = df['%YD'].str.replace('%', '')
df['%YD'] = df['%YD'].str.replace(',', '')
df['%YD'] = df['%YD'].str.replace('<0.1', '0')
df['%LW'] = df['%LW'].str.replace('+', '')
df['%LW'] = df['%LW'].str.replace('-', '')
df['%LW'] = df['%LW'].str.replace('%', '')
df['%LW'] = df['%LW'].str.replace(',', '')
df['%LW'] = df['%LW'].str.replace('<0.1', '0')
df['Theaters'] = df['Theaters'].str.replace('[^0-9]', '')
df['Avg'] = df['Avg'].str.replace('[^0-9]', '')
df['Days'] = df['Days'].str.replace('[^0-9]', '')
df['Distributor'] = df['Distributor'].str.replace('\\n', '')
df.head()

,TD,YD,Movie,Daily,%YD,%LW,Theaters,Avg,To_Date,Days,Distributor,Date
0,1,1,The Hobbit: The Battle of the Five Armies,9320601,55.3,29,3875,2405,198869927,16,Warner Bros.,2015-01-01
1,2,3,Into the Woods,8081110,52.7,46.4,2507,3223,72143214,8,Walt Disney Studios Motion Pictures,2015-01-01
2,3,2,Unbroken,6953045,17.4,55,3167,2195,69481655,8,Universal Pictures,2015-01-01
3,4,4,Night at the Museum: Secret of the Tomb,5974323,22.5,16.4,3914,1526,75328905,14,Twentieth Century Fox,2015-01-01
4,5,5,Annie,4257057,42,6.8,3197,1331,61208977,14,Sony Pictures Entertainment (SPE),2015-01-01

In [32]:
# Update numeric data types
df['Daily'] = pd.to_numeric(df['Daily'])
df['%YD'] = pd.to_numeric(df['%YD'])
df['%LW'] = pd.to_numeric(df['%LW'])
df['Theaters'] = pd.to_numeric(df['Theaters'])
df['Avg'] = pd.to_numeric(df['Avg'])
df['Days'] = pd.to_numeric(df['Days'])
df.dtypes

TD              object
YD              object
Movie           object
Daily            int64
%YD            float64
%LW            float64
Theaters       float64
Avg            float64
To_Date         object
Days           float64
Distributor     object
Date            object
dtype: object

In [33]:
df['Date'] = pd.to_datetime(df['Date'])
df.sample(20)

,TD,YD,Movie,Daily,%YD,%LW,Theaters,Avg,To_Date,Days,Distributor,Date
82901,29,30,The Best of Enemies,8711,49.6,61.3,134.0,65.0,10142851,33.0,STX Entertainment,2019-05-07
84760,21,18,The Souvenir,26497,18.6,48.9,145.0,182.0,740214,26.0,A24,2019-06-11
100186,5,4,Max Winslow and the House of Secrets,840,10.8,202.2,10.0,84.0,6108,17.0,3DLive AXO,2020-06-14
1131,12,12,Unbroken,986910,70.7,48.7,1606.0,614.0,111930235,31.0,Universal Pictures,2015-01-24
86414,37,35,Anna,27262,0.8,63.0,92.0,296.0,7468343,23.0,Lionsgate,2019-07-13
21654,31,32,Race,13826,352.1,1.9,90.0,153.0,19072676,57.0,Focus Features,2016-04-15
38489,60,55,1898: Our Last Men in the Philippines,191,74.6,NaN,10.0,19.0,2035,4.0,Sony Pictures Entertainment (SPE),2017-03-06
52959,32,33,Marshall,13171,45.0,67.5,111.0,118.0,8881134,45.0,Open Road Films (II),2017-11-26
77654,53,54,Replicas,1547,124.2,1.7,29.0,53.0,4041835,35.0,Entertainment Studios Motion Pictures,2019-02-14
13721,16,-,Truth,255000,NaN,NaN,1122.0,227.0,505577,15.0,Sony Pictures Classics,2015-10-30
95981,29,32,Zombieland: Double Tap,23064,159.8,17.1,90.0,256.0,72953220,76.0,Sony Pictures Entertainment (SPE),2020-01-01
23529,12,7,Zootopia,182191,18.4,52.5,572.0,318.0,335225836,85.0,Walt Disney Studios Motion Pictures,2016-05-27
62372,12,-,Godspeed: The Race Across America,96690,NaN,NaN,514.0,188.0,96690,1.0,Fathom Events,2018-05-22
58033,4,5,Game Night,838103,68.1,35.7,3502.0,239.0,34078365,11.0,Warner Bros.,2018-03-05
95659,30,32,The Good Liar,18012,31.4,33.6,93.0,193.0,16869128,42.0,Warner Bros.,2019-12-26
26276,7,8,The Legend of Tarzan,1128560,25.0,43.2,2844.0,396.0,118001909,26.0,Warner Bros.,2016-07-26
16200,27,19,Trumbo,54529,20.2,46.6,119.0,458.0,6578654,50.0,Bleecker Street Media,2015-12-25
37003,36,38,Assassin's Creed,27894,58.8,54.1,187.0,149.0,54336517,47.0,Twentieth Century Fox,2017-02-05
51269,4,4,Happy Death Day,1302030,41.7,42.9,3535.0,368.0,48374210,17.0,Universal Pictures,2017-10-29
18281,36,33,The Peanuts Movie,4173,70.6,40.8,145.0,28.0,129988366,95.0,Twentieth Century Fox,2016-02-08

In [34]:
df.dtypes

TD                     object
YD                     object
Movie                  object
Daily                   int64
%YD                   float64
%LW                   float64
Theaters              float64
Avg                   float64
To_Date                object
Days                  float64
Distributor            object
Date           datetime64[ns]
dtype: object

In [35]:
# Send data to pickle
df.to_pickle('clean-boxofficemojo-daily_gross.pkl')